.container {
  padding: 15px;
  border: 1px solid #eaeaea;
  padding-bottom: 0px;
  position: relative;
}

.event_toggle_button {
  cursor: pointer;
  position: absolute;
  right: 0px;
  font-size: 12px;
  top: -20px;
  color: #306f7a;
}

.log_feed {
  /*background: white;*/
}

.log_feed_item {
  font-size: 14px;
  margin-bottom: 15px;
  line-height: 1.8;
}

.log_feed_byline {
}

.name {
  font-weight: 600;
  color: #2f6e7b;
}

.date {
  color: #999;
  font-weight: 300;
}

.log_feed_text {
  white-space: pre-wrap;
}

.log_feed_type_SUBJECTIVE_SCORE {
  background: #eaeac8;
  display: inline-block;
  padding: 2px 10px;
  color: #666;
}

.log_item_edited {
  color: #999;
  font-style: italic;
}

.input_form form {
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
}

.input_form input[type="text"],
.input_form textarea {
  border: 0;
  outline: none;
  font-size: 14px;

  padding: 8px;
  text-align: left;
  border-radius: 0;
  color: #000;
  width: 100%;
  /*margin-top: 5px;*/
  background: white;
  min-height: 50px;

  position: relative;
  bottom: -5px;
}

.input_form textarea {
  resize: vertical;
  border-top: 1px solid #eaeaea;
  /*  margin-left: -15px;
  margin-right: -15px;
  width: calc(100% + 30px);  */
}

.input_form input[type="text"]::placeholder,
.input_form textarea::placeholder {
  color: #aaa;
}

.input_form input[type="submit"] {
  position: absolute;
  right: 5px;
  top: 10px;
  border: none;
  background: #37a737;
  padding: 0px 8px;
  font-size: 14px;
  color: white;
  cursor: pointer;
  -webkit-appearance: none;
  height: 34px;
  outline: none;
  /*border-left: 3px solid white;*/
}

.input_form input[type="submit"].not_ready {
  /*opacity: .2;*/
  background: #dadada;
}

.empty_message {
  opacity: 0.2;
}
