.group-startup-card {

  padding-left: 80px;
  padding-right: 60px;
  padding-top: 20px;
  position: relative;

  @media only screen and(max-width:768px) {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
  }

  &__content-section {
    margin-top: 10px;
    padding-bottom: 15px;
    position: relative;
    cursor: pointer;
    &__icon {
      position: absolute;
      left: -30px;
      color: #53cab2;
      top: 0;
    }
    &__title {
      font-family: "Proxima Nova";
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: 0.03em;
      color: #6a6a6a;
      @media only screen and(max-width:768px) {
        font-size: 14px;
        line-height: 17px;
      }
    }
  }

  &__content-inner {
    margin-bottom: 35px;
  }

  &__header {

    font-family: "Proxima Nova";
    margin-top: 30px;
    padding-right: 20px;
    margin-bottom: 25px;

    @media only screen and(max-width:768px) {
      margin-top: 20px;
    }

    &__name {
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 28px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #6a6a6a;
      border-bottom: 0px;
      display: inline-block;
      position: relative;
      top: -5px;
    }

    &__logo {
      background: linear-gradient(152.3deg, #ffb28c 9.47%, #ff8c78 93.11%);
      border-radius: 50%;
      color: #fff;
      display: flex;
      justify-content: center;
      margin-right: 10px;
      position: absolute;
      position: absolute;


      font-size: 26px;
      line-height: 1.6;
      top: -10px;
      left: -40px;
      height: 40px;
      width: 40px;

      @media only screen and(max-width:768px) {
        font-size: 16px;
        line-height: 1.8;
        top: -5px;
        left: -20px;
        height: 28px;
        width: 28px;
      }

    }
    &__one-liner {
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      color: #969ba3;
      line-height: 1.7;
      margin-top: 15px;
    }

  }

  &__sharing-options {
    position: absolute;
    top: 20px;
    right: 20px;
    @media only screen and(max-width:490px) {
      display: none;
    }
  }

  &__info-window {
    top: 25px;
    @media only screen and(min-width:900px) {
      width: 485px;
    }
    &__heading {
      font-family: "Proxima Nova";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: #6a6a6a;
      margin-bottom: 16px;
    }
    &__description {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 16px;
      margin-bottom: 20px;
      color: #969ba3;
    }
  }

  &__your-evaluations {

      &__subjective {
        font-family: "Proxima Nova";
        font-style: normal;
        font-weight: bold;
        font-size: 11px;
        line-height: 13px;
        letter-spacing: 0.08em;
        color: #969ba3;
        text-transform: uppercase;
        margin-bottom: 20px;
        margin-top: 15px;
      }

      &__option-container {}

      &__buttons-container {
        text-align: right;
        top: 7px;
        @media only screen and(max-width: 1200px) {
          display: none;
        }
      }

      &__score-option,
      &__score-option-active {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        font-size: 14px;
        padding-top: 8px;
        border: 1px solid #6a6a6a;
        color: #6a6a6a;
        cursor: pointer;
        margin-right: 10px;
        margin-bottom: 10px;
      }
      &__score-option-active {
        background: #c4a9fc;
        border: 1px solid #c4a9fc;
        color: #fff;
      }

      &__button {
        text-align: right;
        @media only screen and(max-width: 1200px) {
          display: none;
        }
      }

      &__details-heading {
        font-family: "Proxima Nova";
        font-style: normal;
        font-weight: bold;
        font-size: 11px;
        line-height: 13px;
        letter-spacing: 0.08em;
        color: #969ba3;
        text-transform: uppercase;
        margin-top: 40px;
      }

      &__name {
        font-family: "Proxima Nova";
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: #6a6a6a;
        i {
          cursor: pointer;
          color: #53cab2;
        }
      }

      &__time-stamp {
        font-family: "Proxima Nova";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #969ba3;
        @media only screen and(max-width: 576px) {
          display: none;
        }
      }

      &__score {
        font-family: "Proxima Nova";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        color: #969ba3;
      }

      &__record {

        margin-top: 20px;

        &__share-with-group {
          cursor: pointer;
          width: 140px;
          text-align: center;
          font-family: Proxima Nova;
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 15px;
          color: #ffffff;
          background: #53cab2;
          padding: 7px 20px;
          border-radius: 14px;
          margin-left: auto;
          @media only screen and(max-width:1268px) {
            margin-top: -5px;
            margin-bottom: 10px;
            margin-left: auto;
          }
          @media only screen and(max-width:768px) {
            margin-top: 10px;
          }
        }
      }

      &__sharing-options {
        margin-top: 25px;
        padding-bottom: 10px;

        @media only screen and (max-width: 576px) {
          button {
            width: 100%;
          }
        }

        @media only screen and(min-width: 1200px) {
          display: none;
        }
      }

  }

  &__requested-evaluations {
    .row {
      margin-bottom: 10px;
    }

    @media only screen and (max-width: 576px) {
      button {
        width: 100%;
      }
    }

  }

  &__comment-section {

    margin-top: 10px;
    padding-bottom: 15px;
    position: relative;
    cursor: pointer;

    &__icon {
      position: absolute;
      left: -15px;
      color: #53cab2;
    }

    &__heading {
      font-family: "Proxima Nova";
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: 0.03em;
      color: #60ceb8;
      text-transform: uppercase;
      @media only screen and(max-width:768px) {
        font-size: 14px;
        line-height: 17px;
      }
    }

  }

}