.section {
    margin-top: 20px;
    margin-bottom: 10px;
}

.section_title {
  font-size: 12px;
  font-weight: 400;
  padding-bottom: 3px;
  color: #999;
}

.scores_table {
  display: table;
  width: 100%;
  margin-top: 5px;
}

.scores_row {
  background: #eaeaea;
  vertical-align: top;
  color: #888;
  font-size: 14px;
  text-align: left;
  display: table-row;
  margin: 1px;
  /*padding: 10px;*/

}

.scores_cell {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  padding: 5px 12px;
}

.scores_row div {
  
}

.scores_sum {
  background: #ddd;
  color: #333;  
}