.subjective_each_container {
  display: flex;
  justify-content: space-between;
  margin-left: -1px;
  margin-right: -1px;
}

.subjective_each {
  width: 10%;
  text-align: center;
  margin: 1px;
  background: #ddd;
  color: #fff;
  cursor: pointer;
}


.subjective_each_active {
  background: #999;
}

