.container {
  color: white;
  margin-bottom: 1px;
}

.each {
  padding: 10px 16px;
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.each i {
  font-size: 27px;
  position: absolute;
  right: 11px;
  top: 9px;
}

.hamburger_container {
  padding: 7px;
  margin-bottom: 1px;
  position: relative;
  cursor: pointer;
}

.hamburger {
  text-align: right;
  position: relative;
  top: 2px;
  right: 3px;
  font-size: 28px;
}

.open_container {
  /*padding: 10px 16px;*/
}

.icons {
  position: absolute;
  top: 7px;
  left: 20px;
  font-size: 27px;
}

.icons i {
  margin-right: 15px;
}
