.notification-menu {
  &__dropdown {
    position: absolute;
    background: #ffffff;
    box-shadow: 0px 3px 12px rgb(0 0 0 / 30%);
    border-radius: 5px;
    z-index: 999;
    text-align: left;
    text-align: initial;
    width: 407px;
    right: 138px;
    height: auto;
    padding-bottom: 50px;
    margin-top: -15px;
    .notifications {
      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #53cab2;
        border-radius: 4px;
      }
      padding-right: 12px;
      padding-left: 12px;
      margin-top: 10px;
      ///max-height: calc(80vh - 70px);
      //min-height: calc(80vh - 100px);
      height: auto;
      overflow-x: auto;
      @media only screen and(max-width:768px) {
        padding-left: 15px !important;
        margin-top: 34px;
      }
      &__notification {
        display: flex;
        @media only screen and(max-width:650px) {
          flex-wrap: wrap;
        }
        align-items: end;
        padding-bottom: 20px;
        padding-top: 20px;
        border-bottom: 1px solid #f1f1f1;
        img {
          height: 24px;
          width: 24px;
        }
        &__comment-text {
          font-family: "Roboto";
          font-style: italic;
          font-weight: normal;
          font-size: 12px;
          line-height: 14px;
          letter-spacing: 0.03em;
          color: #969ba3;
          margin-left: 15px;
        }
        &__tags-text {
          font-family: "Roboto";
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 14px;
          letter-spacing: 0.03em;
          color: #969ba3;
          margin-left: 15px;
        }
        &__text {
          display: flex;
          flex-direction: column;
          @media only screen and(max-width:650px) {
            width: 215px;
          }
          margin-left: 15px;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          line-height: 15px;
          letter-spacing: 0.03em;
          color: #6a6a6a;
          .highlight {
            color: #53cab2;
            font-weight: bold;
          }
          &__hour-ago {
            font-family: "Roboto";
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.03em;
            color: #969ba3;
            margin-top: 10px;
          }
        }
        &__actions {
          display: flex;
          margin-top: 10px;
        }
        &__decline-btn {
          height: 11px;
          border: 1px solid #969ba3;
          max-width: 81px;
          margin-left: 8px;
          .MuiButton-label {
            font-family: "Proxima Nova";
            font-style: normal;
            font-weight: bold;
            font-size: 10px;
            line-height: 12px;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #969ba3;
          }
        }
        &__join-btn {
          height: 11px;
          background-color: #53cab2;
          margin-left: 8px;
          max-width: 90px;
          .MuiButton-label {
            font-family: "Proxima Nova";
            font-style: normal;
            font-weight: bold;
            font-size: 10px;
            line-height: 12px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #ffffff;
            .material-icons {
              font-size: 15px;
            }
          }
        }
        .img-src {
          width: 48px;
        }
      }
    }
    &__footer {
      font-family: "Proxima Nova";
      font-style: normal;
      font-weight: bold;
      font-size: 11px;
      line-height: 13px;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      color: #53cab2;
      text-align: right;
      margin-right: 30px;
      margin-top: 20px;
      cursor: pointer;
      i {
        margin-left: 5px !important;
        color: #60ceb8 !important;
        font-size: inherit !important;
        cursor: pointer;
      }
    }
  }
}
