.notification-menu{
    &__dropdown{
        position: absolute;
        background: #FFFFFF;
        box-shadow: 0px 3px 12px rgb(0 0 0 / 20%);
        border-radius: 5px;
        /* padding: 4px 17px; */
        z-index: 999;
        text-align: left;
        text-align: initial;
        border: 1px solid red;
        width: 407px;
        right: 138px;
        @media screen and(max-width:768px) {
            right: 20px;
        }
        height: 80vh;
        margin-top: -15px;
        .notifications{
            padding-left: 20px;
            padding-top: 35px;
            height: calc(80vh - 70px);
            overflow-x: auto;
            @media only screen and(max-width:768px) {
                padding-left: 15px!important;
                margin-top:34px;            
            }        
            &__notification{            
                display: flex;
                @media only screen and(max-width:650px) {
                    flex-wrap: wrap;
                }
                align-items: end;
                padding-bottom: 20px;
                padding-top:20px;
                border-bottom: 1px solid #F1F1F1;
                img{
                    border-radius: 50%;
                }
                &__comment-text{
                    font-family: 'Roboto';
                    font-style: italic;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 14px;
                    letter-spacing: 0.03em;
                    color: #969BA3;
                    margin-left:15px;
                }
                &__tags-text{
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 14px;
                    letter-spacing: 0.03em;
                    color: #969BA3;
                    margin-left:15px;
                }
                &__text{
                    @media only screen and(max-width:650px) {
                        width:215px;
                    }
                    margin-left:15px;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 13px;
                    line-height: 15px;
                    letter-spacing: 0.03em;
                    color:#6A6A6A;
                    .highlight{
                        color: #53CAB2;  
                        font-weight: bold;
                    }              
                }
                &__actions{
                    display: flex;
                    margin-top:10px;
                }
                &__decline-btn{  
                    height:11PX;
                    border: 1px solid #969BA3;                    
                    max-width:81px;
                    margin-left:8px;
                    .MuiButton-label{
                        font-family: 'Proxima Nova';
                        font-style: normal;
                        font-weight: bold;
                        font-size: 10px;
                        line-height: 12px;
                        display: flex;
                        align-items: center;
                        text-align: center;
                        letter-spacing: 0.03em;
                        text-transform: uppercase;
                        color: #969BA3;
                    }
                }
                &__join-btn{
                    height:11PX;
                    background-color: #53CAB2;
                    margin-left:8px;
                    max-width:90px;
                    .MuiButton-label{
                        font-family: 'Proxima Nova';
                        font-style: normal;
                        font-weight: bold;
                        font-size: 10px;
                        line-height: 12px;
                        letter-spacing: 0.03em;
                        text-transform: uppercase;
                        color: #FFFFFF;
                        .material-icons{
                            font-size:15px;
                        }
                    }
                }
                .img-src{
                    width:48px;
                }
            }
        }
        &__footer{
            font-family: "Proxima Nova";
            font-style: normal;
            font-weight: bold;
            font-size: 11px;
            line-height: 13px;
            letter-spacing: 0.08em;
            text-transform: uppercase;
            color: #60CEB8;
            text-align: right;
            margin-right: 30px;
            margin-top: 20px;
            i{
                margin-left: 5px!important;
                color: #60CEB8!important;
                font-size: inherit!important;
                cursor: pointer;
            }
        }
    }
}