.container {
}

.error_box {
  color: #c80000;
  margin: 10px 0px;
  background: rgb(255, 215, 215);
  padding: 10px;
  font-size: 15px;
  margin-top: 35px;
}

.member_of_team input {
  opacity: 0.8 !important;
}

.member_of_team i {
  color: red !important;
  top: 17px !important;
  cursor: pointer !important;
}

.member_of_team_new i {
  color: green !important;
  top: 17px !important;
  cursor: pointer !important;
}
