.traffic-lights-container{
    margin-top:20px;
    .option-container{
        @media only screen and(max-width:768px) {
            margin-top:20px;
        }
    }
    .traffic-light{
        margin-left: calc(50%/2);
        width: 74px;
        height: 74px;
        border-radius: 50%;
        background: #DFDFDF;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);  
        padding:10px;
        .highlighter{            
            height: 54px;
            width: 54px;
            border-radius: 50%;            
        }      
        .red{
            background-color: #FF9078;
        }
        .yellow{
            background-color: #FFC86A;
        }
        .green{
            background-color: #70D8C3;
        }
        .text{
            font-family: 'Proxima Nova';
            font-style: normal;
            font-weight: bold;
            font-size: 9px;
            line-height: 11px;
            text-align: center;
            letter-spacing: 0.03em;
            text-transform: capitalize;
            color: #fff;
            position: relative;
            top: 22px;
            text-align: center;
        }        
    }
    .incre-decre-icons{
        margin-top:20px;
        color:#B7B7B7;
        display: flex;
        .no-of-points{
            font-family: "Proxima Nova";
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #6A6A6A;
            margin-left: 10px;
            /* margin-right: 10px; */
            margin-top: 4px;
        }
        .remove,
        .add{
            cursor: pointer;
            margin-left: 10px;
        }  
    }
}