.icon-btn-div {
  padding: 1px;
  cursor: pointer;
}

.click-btn {
  text-decoration: none;
  color: grey;
  padding-left: 5px;
}

.click-btn-after {
  color: red;
  padding-left: 5px;
}

i {
  color: grey;
}

.i-after {
  color: red;
}

.icon {
  color: grey;
}
