.chart-tile-container{
    height:350px;
    
    &__header{
        display: flex;
        &__downup{
            margin-left:10px;
            font-size: 13px!important;
            cursor: pointer;
        }
        &__dropdown{
            position: absolute;
            background: #FFFFFF;
            box-shadow: 0px 3px 12px rgb(0 0 0 / 20%);
            border-radius: 5px;
            padding: 4px 17px;
            z-index: 999;
            margin-top: 51px;
            text-align: left;
            text-align: initial;
            margin-left: 28%;
            .drop-down-item{
                font-family: "Proxima Nova";
                font-style: normal;
                font-weight: normal;
                font-size: 10px;
                line-height: 12px;
                padding-top: 8px;
                padding-bottom: 8px;
                color: #6A6A6A;
                cursor: pointer;
            }
        }
        &__icons{
            padding-top:25px;
            margin-left: auto;
            margin-right:25px;
            .selected{
                color:#000;
                border-bottom: 1px solid #000;
            }
            img{
                margin-top: 3px;
                margin-right: 5px;
                height: 10px;
                padding-bottom:1px;
            }
        }
    }
    &__chart{
        height:calc(100% - 80px);
        margin-top:40px;
    }
    &__pie{ 
        margin-top:0px;
        height:180px;
        @media only screen and(min-width:1200px) {
            margin-top: 30px;
        }
        @media only screen and(min-width:768px) {
            display: inline-block;            
            
        }
        @media only screen and(max-width:768px) {
            height:230px;
            width:100%;
        }
        
    }
    .pie-legends{
        display: flex;
        @media only screen and(min-width:768px) {
            flex-wrap: wrap;
        }        
        margin-top:20px;
        @media only screen and(max-width:1199px) {
            margin-left: 30px;
        }
        .legend{
            margin-top:20px;
            margin-right: 20px;
            @media only screen and(max-width:768px) {
                margin-left: 20px;
            }
            .legend-icon{
                width: 14px;
                height: 4px;                
                border-radius: 2px;
            }
            .icon-0{
                background: #FF937C;
            }
            .icon-1{
                background: #7FD5C3;
            }
            .icon-2{
                background: #F9CF86;
            }
            .legend-text{
                font-family: 'Proxima Nova';
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                letter-spacing: 0.03em;
                color: #969BA3;
            }
            .legend-count{
                font-family: "Proxima Nova";
                font-style: normal;
                font-weight: bold;
                font-size: 22px;
                line-height: 36px;
                letter-spacing: 0.03em;
                color: #6a6a6a;
            }
            .max{
                font-size: 47px;
            }
        }
    }
    .total-text{
        position: absolute;
        top: 75px;
        left: calc(29.15% + 30px);
        @media only screen and(max-width:768px) {
            top: 94px;
        }
        @media only screen and(max-width:1199px) {
            left:calc(50% - 15px);
        }
        text-align: center;
        font-family: 'Proxima Nova';
        font-style: normal;
        font-weight: normal;
        text-transform: uppercase;
        .total{            
            font-size: 10px;
            line-height: 12px;
            letter-spacing: 0.08em;
            color: #7E7E7E;
        }
        .count{
            font-size: 20px;
            line-height: 24px;
            color: #464646;
        }
    }
    .bar-chart-container{
        margin-left:30px;
        margin-top:30px;
        width:100%;
        th{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 12px;
            color: #969BA3;
        }
        .th-country{
            width: 25%;
        }
        .th-startups{
            width:15%
        }
        .th-noof-startups{
            width:60%
        }
        tbody{
            tr{
                font-family: 'Roboto';
                font-style: normal;
                font-size: 13px;
                line-height: 15px;
                td{
                    padding-top:15px;
                }
                .td-country{                
                    font-weight: 500;
                    color: #6A6A6A;
                }
                .td-startups{
                    color: #969BA3;
                }
                .td-noof-startups{
                    color: #969BA3;
                    display: flex;
                    .bar-container{
                        width: 60%;
                        height: 10px;
                        background: #E8E8E8;
                        margin-left: 10px;
                        border-radius: 5px;
                        .bar-45{
                            width:45%;
                            background: #53CAB2;
                            height: 10px;
                            border-radius: 5px;
                        }
                        .bar-25{
                            width:25%;
                            background: #53CAB2;
                            height: 10px;
                            border-radius: 5px;
                        }
                        .bar-10{
                            width:10%;
                            background: #53CAB2;
                            height: 10px;
                            border-radius: 5px;
                        }
                        .bar-80{
                            width:80%;
                            background: #53CAB2;
                            height: 10px;
                            border-radius: 5px;
                        }
                        .bar-30{
                            width:30%;
                            background: #53CAB2;
                            height: 10px;
                            border-radius: 5px;
                        }
                    }
                }
            }
        }
    }
}