.groups-contianer{    
    display: flex;
    justify-content: center;
    align-items: center;   
    height:100%; 
    .card{
        width:auto;
        min-width:680px
    }
    .data{
        padding:15px 10px 15px 25px;
        &__members,
        &__startups{
            font-family: 'Proxima Nova';
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 18px;
            color: #969BA3;
        }
        &__name{
            font-family: 'Proxima Nova';
            font-style: normal;
            font-weight: bold;
            font-size: 13px;
            line-height: 16px;
            /* identical to box height */

            text-decoration-line: underline;

            color: #6A6A6A;
        }
    }
}