.container {
    /*margin-top: 80px;*/
    /*max-width: 410px;*/
}

.section {
  margin-bottom: 15px;
  padding: 20px;
  text-align: center;
  background: white;
  box-shadow: 0 7px 14px 0 rgba(50,50,93,.1), 0 3px 6px 0 rgba(0,0,0,.07);
}

.section_title {
  font-size: 28px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  padding: 15px 10px;
}

.question_class {
  border-bottom: 1px solid #eaeaea;
  margin-top: 20px;
  padding-bottom: 20px;

}

.question_title {
  font-weight: 600;
  font-size: 24px;
}

.options_class {

}

.option_class {
/*
  display: flex;
  align-items: center;
  margin-top: 7px;
*/
    margin-bottom: 40px;
    margin-top: 30px;

}

.option_input {
    outline: none;
    text-align: center;
    font-weight: 600;
    font-size: 21px;
    display: inline-block;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    margin-right: 7px;
    cursor: pointer;
    color: white;
}

.option_not_selected {
  background: #eaeaea;
  color: #b9b8b8;  
}


.option_title {
    margin-bottom: 15px;
    font-size: 18px;
}


.open_settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #C8c8c8;
  color: white;
  font-size: 21px;
  cursor: pointer;
  margin-top: 40px; 
}