@keyframes animatefilter {
  0% {
    right: -286px;
    top: 1px;
  }
  100% {
    right: 0px;
    top: 1px;
  }
}
.filter-container {
  height: 99.5vh;
  position: fixed;
  top: 1px;
  z-index: 9999;
  background: white;
  width: 286px;
  right: 0px;
  box-shadow: 0px 3px 12px rgb(41 70 103 / 20%);
  border-radius: 8px;
  animation: animatefilter 0.5s;
  animation-direction: alternate;
  .fa-chevron-right {
    margin-left: 25px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 24px;
  }
  &__header {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #969ba3;
    padding-left: 30px;
    margin-top: 30px;
  }
  &__funnel-container {
    padding-left: 30px;
    margin-top: 30px;
    .funnel {
      margin-top: 20px;
      display: flex;
      &__name {
        font-family: "Proxima Nova";
        font-size: 14px;
        line-height: 17px;
        color: #6a6a6a;
        margin-left: 5px;
      }
      &__funnel-bar-container {
        width: 122px;
        height: 12px;
        left: 115px;
        background: #d2d2d2;
        margin-top: 2px;
        border-radius: 6px;
        margin-left: auto;
        margin-right: 20px;
        .funnel-bar-red {
          width: 122px;
          height: 12px;
          border-radius: 6px;
          background: #ff937c;
        }
        .funnel-bar-blue {
          width: 94px;
          height: 12px;
          border-radius: 6px;
          background: #73c5b2;
          margin-left: 14px;
        }
        .funnel-bar-purple {
          width: 78px;
          height: 12px;
          border-radius: 6px;
          background: #9e80dd;
          margin-left: 22px;
        }
        .funnel-bar-orange {
          width: 60px;
          height: 12px;
          border-radius: 6px;
          background: #f5c269;
          margin-left: 31px;
        }
        .funnel-bar-green {
          width: 32px;
          height: 12px;
          border-radius: 6px;
          background: #90e074;
          margin-left: 45px;
        }
      }
    }
  }
  &__tags-container {
    &__placeholder {
      margin-left: 30px;
      border: 1px solid #b5b5b5;
      margin-top: 30px;
      border-radius: 20px;
      padding: 8px;
      display: flex;
      flex-flow: row wrap;
      z-index: 999;
      margin-right: 20px;
      min-height: 40px;
      i {
        background-color: #53cab2;
        border-radius: 50%;
        height: 18px;
        width: 18px;
        text-align: center;
        font-size: 10px;
        margin-top: 2px;
        /* position: absolute; */
        padding-top: 4px;
        margin-left: 7px;
        color: #ffffff;
        cursor: pointer;
      }
    }
    &__choose-tags {
      font-family: "Roboto";
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;

      color: #969ba3;
      margin-left: 30px;
      margin-top: 10px;
    }
  }
  &__date-time {
    margin-left: 30px;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    margin-right: 20px;
  }
  &__from-to {
    &__header {
      font-family: "Proxima Nova";
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      color: #969ba3;
    }
    &__datePicker {
      font-family: "Proxima Nova";
      font-size: 12px;
      line-height: 15px;
      color: #969ba3;
      background: #ffffff;
      border: 1px solid #cecece;
      box-sizing: border-box;
      border-radius: 20px;
      height: 30px;
      padding: 6px 12px 8px 11px;
      margin-top: 5px;
      min-width: 111px;
      cursor: pointer;
      i {
        margin-left: 12px;
        cursor: pointer;
      }
    }
  }
  .react-datepicker {
    position: absolute;
    top: calc(50% - 115px);
    left: 36px;
    z-index: 99999;
    &__month-container {
      padding: 10px;
    }
    &__header {
      background: #fff;
      border-bottom: none;
    }
    &__current-month {
      padding-top: 7px;
      padding-bottom: 13px;
      font-family: "Proxima Nova";
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      color: #969ba3;
    }
    &__day-names {
      border-bottom: 1px solid #f0f0f0;
    }
    &__day-name {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 0.03em;
      color: #63baa4;
      margin-left: 0px;
      margin-right: 0px;
    }
    &__month {
      margin-top: 10px;
    }
    &__week {
      padding-top: 2px;
    }
    &__day {
      padding-bottom: 7px;
      padding-top: 7px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.03em;
      margin-left: 0px;
      margin-right: 0px;
      color: #737373;
      border-radius: 0px;
      &--selected {
        background-color: #53cab2 !important;
        color: #ffffff;
        border-radius: 50% !important;
        font-weight: bold;
      }
      &:hover {
        border-radius: 0px;
        background-color: #bdfff2;
      }
      &--keyboard-selected,
      &--in-selecting-range,
      &--in-range {
        border-radius: 0px;
        background-color: #bdfff2;
        &:hover {
          background-color: #bdfff2;
          border-radius: 0px;
        }
      }
      &--range-start,
      &--range-end {
        border-radius: 50%;
        background-color: #53cab2 !important;
        color: #ffffff;
        font-weight: bold;
        &:hover {
          border-radius: 50% !important;
        }
      }
    }
  }
  &__last-day-container {
    margin-left: 30px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    &__last-day {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.01em;
      text-decoration-line: underline;
      color: #53cab2;
      margin-top: 10px;
      margin-right: 20px;
      cursor: pointer;
    }
  }
}
.ghost-filter {
  height: 99.5vh;
  position: fixed;
  top: 1px;
  width: 286px;
  z-index: 10001;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
}
