.your-team-container {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &__card {
    max-width: 502px;
    padding-bottom: 65px !important;
  }
  &__heading {
    padding-left: 50px !important;
    padding-top: 41px !important;
    i {
      color: var(--ui-color-primary-green-dark2);
      margin-right: 13px;
      cursor: pointer;
    }
  }
  .your-team {
    padding-top: 25px;
    padding-left: 50px;
    &__header {
      font-family: "Proxima Nova";
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 17px;
      color: var(--ui-color-gray-dark1);
    }
    &__members {
      margin-top: 25px;
      &__member {
        display: flex;
        align-items: center;
        margin-top: 10px;
        font-family: "Proxima Nova";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: var(--ui-color-gray-dark1);
        i {
          margin-right: 13px;
          color: #ff937c;
          cursor: pointer;
        }

        // .name {
        // }
        .email {
          font-size: 12px;
        }
      }
    }
    &__pending-invitation {
      margin-top: 44px;
    }
    &__email {
      font-family: "Proxima Nova";
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      text-transform: capitalize;
      color: var(--ui-color-gray-medium);
      margin-top: 20px;
    }
    &__pending-invite-container {
      display: flex;
      align-items: center;
      margin-top: 10px;
      &__search-user {
        height: 30px;
        background: #ffffff;
        border: 1px solid var(--ui-color-gray-pale2);
        border-radius: 20px;
        max-width: 280px;
        padding-left: 20px;
        @media only screen and(max-width:768px) {
          max-width: 165px;
        }
        width: 100%;
      }
      &__invite-btn {
        background: var(--ui-color-primary-green-dark2);
        height: 30px;
        margin-left: 15px;
      }
    }
  }
}
.delete-member-modal-from-team {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: var(--ui-color-gray-medium);
  padding-top: 55px;
  padding-left: 20px;
  padding-bottom: 55px;
}
