.startup-info-container {
  &__details {
    margin: 25px 40px;
    @media only screen and(max-width:905px) {
      margin-top: 50px !important;
    }

    .personalia {
      padding-top: 10px;
    }
  }
  .share-btn {
    position: absolute;
    right: 40px;
    background: #ffffff;
    border-radius: 15px;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--ui-color-gray-medium);
    padding-left: 10px;
    height: 22px;
    padding-right: 20px;
    border: 1px solid var(--ui-color-gray-medium);
    top: 37px;
    cursor: pointer;
    width: 145px;
    z-index: 999;

    span {
      width: 100%;
      text-align: center;
      padding-right: 8px;
    }

    @media only screen and (max-width: 920px) {
      //left: 34px;
      width: 22px;
      span {
        display: none;
      }
    }
  }

  .second-btn {
    top: 65px;
  }

  .name-icon {
    height: 50px;
    width: 50px;
    overflow: hidden;
    background: linear-gradient(152.3deg, #ffb28c 9.47%, #ff8c78 93.11%);
    margin-top: 25px;
    border-radius: 50%;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    color: #fff;
    margin-left: 15px;

    img {
      transform: scale(1.6);
    }

    @media only screen and(max-width:905px) {
      margin-top: 50px !important;
    }
  }

  .with-logo {
    background: none;
  }

  &__heading {
    font-family: "proxima_nova_altbold";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    display: inline-block;
    color: var(--ui-color-gray-dark1);
    .material-icons {
      color: #c4c4c4;
      font-size: 15px;
      margin-left: 10px;
    }
  }
  &__location {
    margin-top: 10px;
    color: #c1c1c1;
    .name {
      position: absolute;
      margin-left: 5px;
      font-family: "Proxima Nova";
      font-size: 11px;
      line-height: 13px;
      color: var(--ui-color-gray-medium);
      margin-top: 3px;
    }
    .material-icons {
      font-size: 16px;
    }
  }
  &__startup-official {
    margin-top: 25px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: var(--ui-color-gray-medium);
    margin-left: 15px;
    @media only screen and (min-width: 768px) {
      margin-left: 18.33%;
    }
  }
  .startup-info-contact-details {
    margin-left: 15px;
    @media only screen and (min-width: 768px) {
      margin-left: 18.33%;
    }
    &__email,
    &__linkedin,
    &__phone {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 17px;
      letter-spacing: 0.03em;
      color: var(--ui-color-gray-medium);
      margin-top: 12px;
      padding-left: 0px !important;
      .material-icons {
        font-size: inherit;
        position: absolute;
        margin-top: 2px;
      }
      .name {
        margin-left: 20px;
      }
      i {
        position: absolute;
        font-size: inherit;
        color: #b7b7b7;
        margin-top: 4px;
        font-family: "FontAwesome";
      }
    }
  }
  .startup-info-notata-info {
    margin-top: 20px;
    margin-left: 80px;
    display: flex;
    margin-bottom: 20px;

    //@media only screen and (min-width: 768px) {
    //  margin-left: 20%;
    //}
    &__web {
      font-family: "Proxima Nova";
      font-style: normal;
      font-weight: 600;
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      padding-left: 0px !important;
      color: var(--ui-color-primary-green-dark2);
    }

    //button {
    //  height: 18px;
    //  width: 109px;
    //  font-family: "Proxima Nova";
    //  font-style: normal;
    //  font-weight: bold;
    //  font-size: 10px;
    //  line-height: 12px;
    //  display: flex;
    //  align-items: center;
    //  letter-spacing: 0.03em;
    //  text-transform: uppercase;
    //  color: #ffffff;
    //  background: var(--ui-color-primary-green-dark2);
    //  border-radius: 12px;
    //  margin-top: -5px;
    //  padding-left: 0px !important;
    //  .material-icons {
    //    font-size: 10px;
    //  }
    //}
  }
  .startup-help-container {
    margin-top: 25px;
    margin-left: 10px;
    &__heading {
      font-family: Roboto;
      font-weight: 500;
      font-size: 13px;
      line-height: 17px;
      letter-spacing: 0.03em;
      color: var(--ui-color-gray-dark1);
    }
    p {
      font-family: "Proxima Nova";
      font-size: 15px;
      line-height: 26px;
      letter-spacing: 0.03em;
      color: var(--ui-color-gray-medium);
      margin-top: 10px;
      margin-bottom: 50px;
    }
  }
  .startup-info-demo-container {
    &__heading {
      font-family: Proxima Nova;
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      margin: 25px;
      color: var(--ui-color-gray-medium);
    }
    &__sub-heading {
      font-family: "Proxima Nova";
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      margin: 25px 0px 0px 25px;
      color: var(--ui-color-gray-dark1);
    }

    &__video {
      margin-top: 25px;
      background: #c1c1c157;
      width: 100%;
      border-radius: 0px;
      padding: 25px;
      position: relative;

      .coming-soon {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        justify-content: center;
        align-items: center;
        font-size: 21px;
        text-transform: uppercase;
        color: #b7b7b7;
        z-index: 999;
        display: flex;

        .message-content {
          position: absolute;
        }

        .block-out {
          background-color: rgba(255, 255, 255, 0.7);
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          filter: blur(4px);
        }
      }

      img {
        position: relative;
        width: inherit;
      }
    }
    &__video-info {
      height: 45px;
      background: linear-gradient(115.95deg, #ff8e6f 50.04%, #ff6581 97.03%);
      margin-top: -5px;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }
    &__video-name {
      font-family: "Proxima Nova";
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: #ffffff;
      position: absolute;
      margin: 15px 0px 0px 15px;
    }
    &__video-source {
      font-family: Roboto;
      font-size: 9px;
      line-height: 11px;
      text-align: right;
      letter-spacing: 0.03em;
      color: #ffffff;
      margin: 17px 15px 0px 0px;
      right: 40px;
      position: absolute;
    }
    .key {
      font-family: Roboto;
      font-size: 12px;
      line-height: 13px;
      letter-spacing: 0.03em;
      color: var(--ui-color-gray-medium);
      margin: 15px 0px 0px 26px;
    }
    .value {
      font-family: Roboto;
      font-weight: 500;
      font-size: 13px;
      line-height: 15px;
      letter-spacing: 0.03em;
      color: var(--ui-color-gray-dark1);
      margin: 15px 0px 0px 0px;
      white-space: pre-wrap;
    }
  }
  .handCursor {
    cursor: pointer;
  }
}
