.wrapper {
  left: 0;
  position: absolute;
  width: 100%;
  top: 0;
  margin-top: 28px;
}

.inner_container {
  display: flex;
  background: #f1f5f9;
  padding: 30px;
}

.section {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
  user-select: none;
  border: none;
  outline: none;
  width: 400px;
  margin: 10px;
  position: relative;
}

.title_class {
  font-size: 26px;
  padding: 10px 20px;
  background: white;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 2px;
  box-shadow: -2px 2px 3px 0px rgba(0, 0, 0, 0.2);
  position: relative;
}

.title_class i {
  cursor: pointer;
  margin-left: 10px;
  color: #999;
}

.question_container {
  padding: 20px;
  background: white;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 2px;
  box-shadow: -2px 2px 3px 0px rgba(0, 0, 0, 0.2);
  position: relative;
}

.question_title {
  font-weight: 600;
  font-size: 18px;
}

.question_title i {
  margin-left: 7px;
  color: #999;
  cursor: pointer;
}

.question_description {
  font-weight: 400;
  font-size: 14px;
}

.question_description i {
  margin-left: 7px;
  color: #999;
  cursor: pointer;
}

.input_type_container {
  margin-bottom: 10px;
  margin-top: 10px;
}

.input_type_class {
  display: inline-block;
  background: gray;
  color: white;
  padding: 1px 7px;
  font-size: 14px;
  margin-right: 3px;
  margin-bottom: 2px;
  border-radius: 2px;
  cursor: pointer;
}

.alternative_class {
  margin-bottom: 4px;
  color: white;
  background: #668d9a;
  padding: 6px 12px;
  padding-right: 60px;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}

.alternative_class .remove_icon {
  position: absolute;
  right: 8px;
  top: 9px;
  opacity: 0.3;
  font-size: 16px;
  cursor: pointer;
}

.alternative_class .edit_icon {
  position: absolute;
  right: 28px;
  top: 9px;
  opacity: 0.3;
  font-size: 16px;
  cursor: pointer;
}

.input_box {
  position: relative;
}

.input_box label input {
  width: 100%;
  padding: 10px;
  border: none;
  box-shadow: -1px 1px 3px 0px rgba(0, 0, 0, 0.2);
  outline: none;
  font-size: 15px;
  padding-right: 45px;
}

.input_box label i {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 28px;
  opacity: 0.2;
  cursor: pointer;
}

.edit_name .input_box label input {
  box-shadow: none;
  margin-left: -5px;
  width: calc(100% + 10px);
}

.edit_name .input_box label i {
  /*color: #999;*/
  position: absolute;
  right: -46px;
  top: 5px;
  font-size: 28px;
  opacity: 0.2;
  cursor: pointer;
  color: white;
}

.edit_title .input_box label input {
  /*box-shadow: none;*/
  /*margin-left: -5px;*/
  /*width: calc(100% + 10px);  */
  padding-right: 45px;
}

.edit_title .input_box label i {
  /*color: #999;*/
  /*position: absolute;*/
  /*right: -46px;*/
  /*top: 5px;*/
  /*font-size: 28px;*/
  /*opacity: 0.2;*/
  /*cursor: pointer;*/
  /*color: white;*/
}

.title_class .input_box label i {
  top: 9px;
}

.delete_question_class {
  position: absolute;
  top: 4px;
  right: 8px;
  font-size: 12px;
  color: #c80000;
  cursor: pointer;
}

.input_score {
  position: absolute;
  right: 55px;
  top: 6px;
}

.score_number {
  border-radius: 100%;
  height: 23px;
  width: 23px;
  text-align: center;
  border: none;
  outline: none;
  font-size: 14px;
  color: gray;
  background: white;
}

.score_carets {
  position: absolute;
  left: -17px;
  top: -2px;
  height: 100%;
}
.score_carets i {
  display: block;
  cursor: pointer;
  height: 12px;
}

.score_caret_up {
  /*  position: absolute;
  top: -6px;
  cursor: pointer;*/
}

.score_caret_down {
  /*  position: absolute;
  bottom: -6px;
  cursor: pointer;*/
}

.score_caret_down i {
}
