.dots_container {
  display: flex;
  justify-content: center;
}

.dot {
  border-radius: 20px;
  /*cursor: pointer;*/
  background: var(--color-gray-light);
  width: 10px;
  height: 10px;
  margin: 10px;
}

.dot_active {
  background: var(--color-gray-medium);
}

.cards_container {
  /*min-height: 500px;*/
  /*position: relative;*/
}

.message_box {
  /*margin-bottom: 30px;*/
  margin-bottom: 10px;
}

.bottom_box {
  /*position: absolute;*/
  /*left: 0;*/
  /*bottom: 0;*/
  /*width: 100%;*/
  /*padding: 20px;*/
}
.strip {
  background-color: var(--ui-color-primary-green-dark2);
  color: #fff;
  text-align: center;
  padding: 9px 20px;
}
.profile_onboard {
  font-family: var(--proxima);
}
.tabs_section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}
.tabs_section_child {
  width: 30%;
  height: 5px;
  border-radius: 5px;
  background-color: rgb(223, 223, 223);
  cursor: pointer;
}
.tabs_section_child_active {
  background-color: var(--ui-color-primary-green-dark2);
  width: 30%;
  height: 5px;
  border-radius: 5px;
}
label {
  font-weight: 700 !important;
}
.button_container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.button_container_justify {
  width: 100%;
  display: flex;
  justify-content: space-between !important;
}
