.subjective-score-evaluations-container {
  &__data {
    width: 100%;
    overflow-x: auto;
  }
  .added-startups {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    line-height: 10px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #969ba3;
    margin-left: 19px;
    margin-top: 5px;
  }
  .last-year {
    @media only screen and(max-width:768px) {
      margin-right: 0px;
    }
    margin-top: 25px;
    margin-right: 30px;
    .txt {
      font-family: Proxima Nova;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      /* display: flex; */
      /* align-items: center; */
      text-align: right;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      color: #6a6a6a;
    }
    .date {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      line-height: 13px;
      color: #979797;
      text-align: end;
    }
  }
  .range-legend {
    display: inline-flex;
    margin-top: 22px;
    @media only screen and(max-width:768px) {
      justify-content: flex-start;
      margin-left: 20px;
    }
    justify-content: flex-end;
    .legend {
      margin-right: 10px;
    }
    .min {
      margin-right: 10px;
      font-family: Proxima Nova;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      display: flex;
      align-items: center;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      color: #969ba3;
    }
    .legend-value {
      font-family: "Roboto";
      font-style: normal;
      font-weight: normal;
      font-size: 8px;
      line-height: 9px;
      color: #6a6a6a;
      text-align: center;
      margin-bottom: 5px;
    }
    .legend-icon-0 {
      width: 12.71px;
      height: 12px;
      background: #e6e8ff;
      border-radius: 2px;
    }
    .legend-icon-5 {
      width: 12.71px;
      height: 12px;
      background: #97dfd1;
      border-radius: 2px;
    }
    .legend-icon-10 {
      width: 12.71px;
      height: 12px;
      background: #63dfc6;
      border-radius: 2px;
    }
    .legend-icon-15 {
      width: 12.71px;
      height: 12px;
      background: #53cab2;
      border-radius: 2px;
    }
    .legend-icon-20 {
      width: 12.71px;
      height: 12px;
      background: #46a793;
      border-radius: 2px;
    }
  }
  .months {
    display: flex;
    margin-top: 35px;
    margin-left: 60px;
    justify-content: space-around;
    /* margin-right: 40px; */
    width: 1092px;
    .month {
      font-family: "Proxima Nova";
      font-style: normal;
      font-weight: 600;
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      color: #969ba3;
    }
  }
  &__year {
    margin-left: 30px;
    display: flex;
    .days {
      display: inline-block;
      margin-right: 10px;
      .day {
        font-family: "Proxima Nova";
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #6a6a6a;
        margin-top: 7px;
        height: 18px;
      }
    }
    .week {
      margin-left: 5px;
      .day-score {
        width: 16px;
        height: 18px;
        border-radius: 5px;
        margin-top: 6px;
      }
      .days-score-0 {
        background: #e6e8ff;
      }
      .days-score-5 {
        background: #97dfd1;
      }
      .days-score-10 {
        background: #63dfc6;
      }
      .days-score-15 {
        background: #53cab2;
      }
      .days-score-20 {
        background: #46a793;
      }
    }
  }
}
