.content {
  padding: 20px;
  border: 1px solid var(--color-gray-light);
  border-radius: 2px;
}

.flex_50 {
  -webkit-box-flex: 0;
  -webkit-flex: 1 1 50%;
  flex: 1 1 50%;
  max-width: calc(50% - 0.5rem);
}

.flex_100 {
  -webkit-box-flex: 0;
  -webkit-flex: 1 1 100%;
  flex: 1 1 100%;
  max-width: 100%;
}

@media (max-width: 1011px) {
  .flex_50 {
    -webkit-box-flex: 0;
    -webkit-flex: 1 1 100%;
    flex: 1 1 100%;
    max-width: 100%;
  }

  .button {
    &_width {
      display: none;
    }
  }
}

.header_text {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-gray-medium);
  display: inline;
}

.block_controls {
  display: inline;
  float: right;
}

.button {
  height: 30px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  right: 0;
  border-radius: 6px;
  outline: none;
  margin-right: 5px;

  &_filter {
    @extend .button;
    background-color: var(--color-gray-light);
    position: relative;
    text-align: center;
    width: 80px;
  }

  &_chart_type {
    @extend .button;
    width: 40px;
    background-color: var(--color-primary);
    color: white;
    position: relative;
  }

  &_width {
    @extend .button;
    width: 40px;
    color: var(--color-primary);
    position: relative;
  }
}
