.content {
  padding: 20px;
  border: 1px solid var(--color-gray-light);
  border-radius: 2px;
}

.flex_50 {
  -webkit-box-flex: 0;
  -webkit-flex: 1 1 50%;
  flex: 1 1 50%;
  max-width: calc(50% - 0.5rem);
}

.flex_100 {
  -webkit-box-flex: 0;
  -webkit-flex: 1 1 100%;
  flex: 1 1 100%;
  max-width: 100%;
}

@media (max-width: 1011px) {
  .flex_50 {
    -webkit-box-flex: 0;
    -webkit-flex: 1 1 100%;
    flex: 1 1 100%;
    max-width: 100%;
  }
}

.header_text {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-gray-medium);
  display: inline;
}

.block_controls {
  display: inline;
  float: right;
}

.filter_input {
  background-color: var(--color-gray-light);
  border-radius: 7px;
  border: none;
  cursor: pointer;
  font-size: 19px;
  height: 32px;
  margin-right: 5px;
  position: relative;
  right: 0;
  text-align: center;
  width: 80px;
}

.chart_type {
  width: 40px;
  height: 32px;
  background-color: var(--color-primary);
  border: none;
  outline: none;
  border-radius: 7px;
  color: white;
  font-size: 19px;
  cursor: pointer;
  margin-right: 5px;
  right: 0;
  position: relative;
}

.width_type {
  width: 40px;
  height: 32px;
  color: var(--color-primary);
  border: none;
  outline: none;
  border-radius: 7px;
  font-size: 19px;
  cursor: pointer;
  margin-right: 5px;
  right: 0;
  position: relative;
}
