.container {
}

.error_box {
  color: #c80000;
  margin: 10px 0px;
  background: rgb(255, 215, 215);
  padding: 10px;
  font-size: 15px;
  margin-top: 35px;
}

.sub_header {
  margin: 18px 0px;
  font-size: 22px;
  font-weight: 300;
  color: #306f7a;
}
