.MuiCheckbox-root {    
    color: #E8E8E8!important;
    height: 18px;
    width: 18px;
    margin-right: 5px!important;
}
.MuiCheckbox-colorSecondary.Mui-checked {
    color:var(--ui-color-primary-green-dark2)!important;
}
.MuiCheckbox-colorSecondary {
    color: #E8E8E8;
}
.MuiIconButton-root{
    padding: 0px!important;
}