.react-multi-style {
  @media only screen and(min-width:768px) {
    width: 49%;
  }
  &__menu {
    background: #ffffff;
    box-shadow: 0px 3px 12px rgba(41, 70, 103, 0.2) !important;
    border-radius: 8px;
    margin-top: -14px;
  }
  &__option {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: normal;
    font-size: 14px !important;
    line-height: 17px !important;
    color: var(--ui-color-gray-dark1);
    background-color: #fff !important;
    display: flex !important;
    align-items: flex-end;
    input {
      height: 18px;
      width: 18px;
    }
    &--is-selected {
      font-family: "Proxima Nova";
      font-style: normal;
      font-weight: 600 !important;
      font-size: 14px !important;
      line-height: 17px !important;
      color: var(--ui-color-gray-dark1);
    }
    &--is-focused {
      background-color: #fff !important;
    }
    &:hover {
      background-color: #fff !important;
    }
  }
  button {
    width: 100% !important;
    height: 40px !important;
    background: #ffffff;
    border: 1px solid var(--ui-color-gray-pale2);
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 5px;
    span {
      font-family: "Proxima Nova";
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color: var(--ui-color-gray-dark1);
      padding-left: 15px;
    }
  }
  div {
    width: 100% !important;
  }
}
