.reports-analytics-funnel {
  margin-top: 57px;
  &__top-bar {
    display: flex;
    &--tags {
      &--heading {
        font-family: Proxima Nova;
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: var(--ui-color-gray-medium);
      }
      &--select-tag {
        margin-left: 5px;
        font-family: Proxima Nova;
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #7fd5c3;
        i {
          margin-left: 5px;
          cursor: pointer;
        }
      }
    }
    &--chart-types {
      margin-left: auto;
      .selected {
        color: #000;
        border-bottom: 1px solid #000;
      }
      img {
        margin-top: 3px;
        margin-right: 5px;
        height: 10px;
        padding-bottom: 1px;
      }
    }
  }
  &__funnels {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    &__funnel {
      width: 50px;
      .score {
        font-family: "Proxima Nova";
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.03em;
        color: var(--ui-color-gray-dark1);
        text-align: center;
      }
      .funnel-chart {
        margin-top: 10px;
        height: 203px;
        width: 24px;
        background-color: #f5f7ff;
        margin-left: 13px;
        margin-right: 13px;
        border-radius: 20px;
        transform: scale(1, -1);
        .red {
          background: linear-gradient(180deg, #ff725e 0%, #ffad88 100%);
          height: 100%;
          border-radius: 20px;
        }
        .blue {
          background: linear-gradient(180deg, #73c5b2 0%, #96e4d5 100%);
          height: 80%;
          border-radius: 20px;
        }
        .purple {
          background: linear-gradient(180deg, #9e80dd 0%, #c7adff 100%);
          height: 60%;
          border-radius: 20px;
        }
        .orange {
          background: linear-gradient(
            180deg,
            #f5c269 0%,
            #ffd898 102.82%,
            rgba(229, 232, 255, 0) 110.91%
          );
          height: 40%;
          border-radius: 20px;
        }
        .green {
          background: linear-gradient(180deg, #90e074 0%, #b3ff78 100%);
          height: 20%;
          border-radius: 20px;
        }
      }
      .funnel-type {
        font-family: "Proxima Nova";
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.03em;
        margin-top: 10px;
        text-align: center;
        color: var(--ui-color-gray-medium);
      }
    }
  }
}
