.settings-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  &__card {
    max-width: 529px;
    padding-bottom: 80px !important;
    &__heading {
      font-family: "Proxima Nova";
      font-style: normal;
      font-weight: bold;
      font-size: 21px;
      line-height: 26px;
      color: var(--ui-color-gray-medium);
      margin-top: 42px;
      margin-left: 50px;
      i {
        color: var(--ui-color-primary-green-dark2);
        margin-right: 25px;
        cursor: pointer;
      }
    }
    &__separator {
      width: 174px;
      margin-left: 45px;
      height: 1px;
      border: 1px solid #e8e8e8;
      margin-top: 25px;
    }
  }
  .menu-container {
    margin-top: 13px;
    margin-left: 50px;
    &__menu {
      margin-top: 25px;
      display: flex;
      align-items: center;
      cursor: pointer;
      img {
        height: 12px;
        width: 12px;
        margin-right: 12px;
      }
      &__name {
        font-family: "Proxima Nova";
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        color: var(--ui-color-gray-medium);
      }
    }
  }
  &__evaluation-card {
    background: #e0cd1f !important;
    width: 408px !important;
    height: 154px;
    position: absolute;
    top: 0px;
    margin-top: 65px !important;
    left: 270px;
    padding: 23px;
    &::before {
      content: "";
      height: 12px;
      width: 12px;
      background-color: #e0cd1f;
      position: absolute;
      left: 0px;
      top: 117px;
      transform: rotate(45deg);
      left: -6px;
    }
    .evaluation-header {
      display: flex;
      &__name {
        font-family: "Roboto";
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        color: #ffffff;
      }
      i {
        margin-left: auto;
        color: #fff;
        font-weight: normal;
        cursor: pointer;
      }
    }
    &__description {
      font-family: "Roboto";
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.03em;
      color: #ffffff;
      margin-top: 16px;
    }
    &__footer {
      margin-top: 25px;
      display: flex;
      color: #ffffff;
      align-items: center;
      &__noOfEvals {
        font-family: "Roboto";
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.03em;
      }
      &__evals {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.03em;
      }
      &__action-container {
        margin-left: auto;
        .prev-btn {
          height: 30px;
          border: 1px solid #fff;
          font-family: "Proxima Nova";
          font-style: normal;
          font-weight: bold;
          font-size: 11px;
          line-height: 13px;
          letter-spacing: 0.06em;
          text-transform: uppercase;
          color: #ffffff;
          padding: 10px 15px !important;
          margin-right: 10px;
        }
        .next-btn {
          height: 30px;
          border: 1px solid #fff;
          font-family: "Proxima Nova";
          font-style: normal;
          font-weight: bold;
          font-size: 11px;
          line-height: 13px;
          letter-spacing: 0.06em;
          text-transform: uppercase;
          background-color: #ffffff;
          padding: 10px 15px !important;
          .MuiButton-label {
            color: #e0cd1f !important;
          }
        }
      }
    }
    @media only screen and(max-width:991px) {
      display: none !important;
    }
  }
}
