.container {
  padding: 18px;
  margin-bottom: 1px;
  position: relative;
  background: white;
  box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1),
    0 3px 6px 0 rgba(0, 0, 0, 0.07);
  padding-top: 23px;
  padding-bottom: 10px;
  user-select: none;
  overflow: hidden;
}

.seen_class:before {
  content: "";
  position: absolute;
  height: 30px;
  width: 30px;
  background: orange;
  left: -15px;
  top: -15px;
  transform: rotate(-45deg);
}

.section_comments {
  background: #eaeaea;
  color: #333;
  border-radius: 3px;
  padding: 7px 12px;
  font-size: 14px;
  white-space: pre-wrap;
  min-height: 75px;
}

.inactive_view {
  background: #e6e6e6;
  color: #333;
}

.inactive_view:hover {
  background: #dedcdc;
}

.comment_section {
}

.button_section {
  margin-bottom: -20px;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px dashed #ddd;
}

.button {
  padding: 8px 20px;
  font-size: 15px;
  display: inline-block;
  width: auto;
  margin-right: 2px;
}

.section {
  margin-top: 10px;
}

.section_title {
  font-size: 12px;
  font-weight: 400;
  padding-bottom: 3px;
  color: #999;
}

.tag_container {
  font-size: 12px;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 2px;
  flex-wrap: wrap;
  margin: -2px;
}

.tag {
  padding: 4px 8px;
  border-radius: 2px;
  margin: 2px;
  font-weight: 600;
  color: #333;
  color: white;
  display: inline-block;
  font-size: 12px;
}

.tag span {
  position: relative;
  left: 3px;
  top: 1px;
  opacity: 0.5;
  cursor: pointer;
}

.delete_section {
  position: absolute;
  bottom: 8px;
  right: 22px;
  font-size: 11px;
  text-align: right;
  line-height: 1.8;
}

.delete_class {
  cursor: pointer;
  color: #c80000;
  /*display: inline-block;*/
}

.archive_class {
  cursor: pointer;
  color: #999;
  /*display: inline-block;*/
}

.poma_score {
  display: flex;
  justify-content: space-between;
  margin-left: -1px;
  margin-right: -1px;
}
.poma_each {
  width: 10%;
  text-align: center;
  margin: 1px;
  background: #ddd;
  color: white;
  cursor: pointer;
}

.poma_active {
  background: #999;
}

.scores_table {
  display: table;
  width: 100%;
}

.scores_row {
  margin: 1px;
  background: #eaeaea;
  vertical-align: top;
  padding: 2px 10px;
  color: #888;
  font-size: 14px;
  text-align: left;
  display: table-row;
  margin-bottom: 1px;
  padding: 10px 10px;
}

.scores_row.scores_sum {
  background: #ddd;
  color: #333;
}

.scores_cell_1,
.scores_cell_2,
.scores_cell_3,
.scores_cell_4,
.scores_cell_5 {
  display: table-cell;
  border-bottom: 1px solid white;
  padding: 4px 0px;
}

.scores_cell_1 {
  padding-left: 8px;
}

.scores_cell_1 a,
.scores_cell_1 a:hover,
.scores_cell_1 a:active,
.scores_cell_1 a:visited {
  color: #aaa;
}

.scores_cell_2 {
  width: 25px;
  text-align: right;
}

.scores_cell_3 {
  width: 10px;
  text-align: right;
}

.scores_cell_4 {
  color: rgba(0, 0, 0, 0.2);
  width: 20px;
  text-align: right;
}

.scores_cell_5 {
  width: 110px;
  text-align: center;
  padding-right: 0px;
  cursor: pointer;
}

.color_indicator {
  width: 25px;
  margin: auto;
  height: 16px;
  position: relative;
  top: 3px;
}

.progress_container {
  position: relative;
  top: 3px;
}

/*@media screen and (max-width: 500px) {*/
.scores_cell_5 {
  width: 55px;
}
/*}*/
