.input_class {
  /*background: red;*/
  padding: 2px;
}

.input_class .MuiOutlinedInput-root {
  border-radius: 0px;
  padding-right: 0px;
}

.input_class input {
  padding: 10px 14px;
  font-weight: 300;
}
