.submission-details {
  .row {
    margin: 0px;
  }
  .summary {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: var(--ui-color-gray-medium);
    padding-left: 0px !important;
  }
  .detail {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: var(--ui-color-gray-medium);
    padding-left: 30px;
  }
  .detail-score {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: var(--ui-color-gray-dark1);
  }
  .detail-list {
    margin-top: 15px;
  }
  .detail-type {
    margin-top: 25px;
  }
  .detail-heading {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: var(--ui-color-gray-dark1);
    i {
      color: #71d0bd;
      margin-right: 15px;
    }
  }
}
