.evaluation-modal {

    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;

    &__summary {

        &__title {
            font-family: "Proxima Nova";
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
            color: #969BA3;
            //padding-left: 0px !important;
        }

        &__score {
            text-align: right;

        }
    }

    &__section {

        &__title-row {
            margin-top:25px;
            position: relative;

            &__icon {
                color: #71D0BD;
                position: absolute;
                left: -10px;
                cursor: pointer;
            }

            &__title {
                font-family: 'Proxima Nova';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0.03em;
                color: #6A6A6A;
            }

            &__score {
                text-align: right;

            }




        }

        &__list {
            margin-top:15px;

            &__row {
                padding: 6px 0px;
                &__question {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: normal;
                    font-size: 13px;
                    line-height: 20px;
                    letter-spacing: 0.03em;
                    color: #6A6A6A;
                }

                &__score {
                    font-family: 'Proxima Nova';
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 17px;
                    color: #6A6A6A;
                    text-align: right;
                    position: relative;
                    div {
                        font-size: 13px;
                        color: #969BA3;
                        position: absolute;
                        right: 15px;
                    }
                }

                &__answers {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: normal;
                    font-size: 13px;
                    line-height: 20px;
                    letter-spacing: 0.03em;
                    color: #969BA3;
                    span {
                        color: #49b6a0;
                    }
                }

            }

            &__row:nth-child(odd) {
                background: rgba(223, 233, 245, 0.2);

            }

        }
    }

}