.edit-evaluation-container {
  .summary-details {
    margin-top: 35px;
  }
  .edit-details {
    .summary-heading {
      font-family: "Proxima Nova";
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: 0.03em;
      color: var(--ui-color-gray-dark1);
      padding-right: 0px;
    }
    .last-updated {
      padding-top: 5px !important;
    }
    .last-updated,
    .created-on {
      font-family: "Proxima Nova";
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-align: right;
      color: var(--ui-color-gray-medium);
      padding: 0px;
    }
    .total-answers {
      margin-top: 30px;

      .summary-list {
        padding: 5px;
        margin-left: 15px;
        margin-right: 0px;
      }

      .summary-list:nth-child(odd) {
        background-color: var(--ui-color-gray-pale1);
      }

      .type-heading,
      .attempts {
        //margin-top: 5px;
        font-family: "Proxima Nova";
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        text-transform: capitalize;
        color: var(--ui-color-gray-dark1);
        margin: 0;
        padding: 0;
      }
      .attempts,
      .total-attempts {
        text-align: right;
        padding-right: 0px;
      }
      .total-heading,
      .total-attempts {
        font-family: "Proxima Nova";
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        text-transform: capitalize;
        color: var(--ui-color-gray-dark1);
        margin-top: 15px;
      }
    }
    .section {
      margin-top: 43px;
      border-bottom: 1px solid #f1f1f1;
      padding-bottom: 20px;
      .section-heading {
        display: flex;
        font-family: "Proxima Nova";
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.03em;
        color: var(--ui-color-gray-dark1);
        margin-left: -31px;
        margin-right: 31px;

        i {
          color: var(--ui-color-primary-green-dark1);
          margin-right: 15px;
          cursor: pointer;
        }

        .fa-pencil {
          margin-left: 20px;
          color: var(--ui-color-gray-medium);
        }
      }
      .question-answers {
        margin-top: 15px;
        .question {
          margin-top: 20px;
        }
        .question,
        .answer,
        .no-answer {
          padding-left: 30px;
        }
        .answer {
          font-family: "Proxima Nova";
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 15px;
          color: #ff937c;
          margin-top: 5px;
        }
        .no-answer {
          font-family: "Proxima Nova";
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 15px;
          color: #bfbfbf;
          margin-top: 5px;
        }
      }
    }
    //.delete-btn {
    //  margin-top: 35px;
    //  height: 30px;
    //  width: 208px;
    //  background: #ff937c;
    //  border-radius: 20px;
    //  border: none;
    //  font-family: "Proxima Nova";
    //  letter-spacing: 0.03em;
    //  color: #ffffff;
    //  padding: 4px;
    //  font-size: 12px;
    //  line-height: 15px;
    //}

    .delete-txt {
      font-family: "Proxima Nova";
      font-size: 12px;
      color: #ff937c;
      position: absolute;
      bottom: -60px;
      right: -20px;
      cursor: pointer;
    }

    .edit-btn {
      margin-top: 35px;
      height: 30px;
      width: 208px;
      background: #71d0bd;
      border-radius: 20px;
      border: none;
      font-family: "Proxima Nova";
      letter-spacing: 0.03em;
      color: #ffffff;
      padding: 4px;
      font-size: 12px;
      line-height: 15px;
    }
  }
  .modal-content-description {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    padding: 50px 0px;
    color: var(--ui-color-gray-medium);
    max-width: 300px;
  }
}
