.button-container {
  border-radius: 20px !important;
  padding: 11px 25px 11px 25px !important;
  .MuiButton-label {
    font-family: "Proxima Nova";
    font-weight: bold;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    color: #ffffff;
  }
}
