.list_star {
  padding-right: 0px !important;
}

.ant_tag {
  border-radius: 20px !important;
  color: #515c6f !important;
  background: #f2f5f6 !important;
  border: none !important;
  padding: 3px 12px !important;
}

.average_score {
  background: #ffaf52;
  display: inline-block;
  border-radius: 100%;
  width: 26px;
  height: 26px;
  text-align: center;
  color: white;
  font-size: 13px;
}

.average_score span {
  position: relative;
  top: 3px;
  font-size: 12px;
}

.button_chevron_icon {
  background: white;
  border-radius: 100%;
  position: relative;
  width: 30px;
  height: 30px;
  right: -15px;
  top: -2px;
}

.button_chevron_icon i {
  color: red;
  position: relative;
  top: 2px;
  left: 1px;
}

.only_mobile {
  /*background: red !important;*/
  visibility: hidden !important;
}

@media screen and (max-width: 991px) {
  .only_mobile {
    /*background: blue !important;*/
    /*display: none !important;*/
    visibility: visible !important;
  }
}
