.container {
  color: white;
  text-align: center;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 800;
  font-family: roboto;
  cursor: pointer;
  opacity: 1;
  position: relative;
  padding: 10px;
  box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1),
    0 3px 6px 0 rgba(0, 0, 0, 0.07);
}

.progress_container {
  position: absolute;
  left: 20px;
  bottom: 20px;
  background: rgba(255, 255, 255, 0.2);
  width: calc(100% - 40px);
  height: 13px;
  border-radius: 5px;
  padding: 1px;
}

.progress_inner {
  position: absolute;
  left: 1px;
  height: 11px;
  background: #ffffffad;
  border-radius: 5px;
}

.no_decoration {
  text-decoration: none;
}

.sub_label_class {
  font-weight: 300;
  font-size: 14px;
  position: relative;
  top: 30px;
}

.label_class {
}
