.progress_bar {
  position: relative;
  background: #eaeaea;
  width: 92px;
  height: 20px;
  margin: auto;
}

.progress_bar_inner {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
}

/*@media screen and (max-width: 500px) {*/
.progress_bar {
  width: 40px;
}

/*}*/
