.container {
  position: fixed;
  top: 61px;
  right: 10px;
  padding: 3px 8px;
  font-size: 10px;
  border-radius: 3px;
  background: #c0e0c0;
  color: green;
  text-transform: uppercase;
  /*position: relative;*/
}



.saving_class {
  color: white;
  background: #aaa; 
}
