.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
  padding-bottom: 150px;
  padding-top: 75px;
  padding-left: 225px;
}

@media screen and (max-width: 900px) {
  .container {
    padding-left: 15px;
  }
}

.small_container {
  max-width: 600px;
  margin: auto;
}

.center_container {
  min-height: 100vh;
}

.inner_container {
  width: 100vw;
  overflow: hidden;
}

.button_class {
  border: none;
  background: #37a737;
  padding: 12px 24px;
  font-size: 18px;
  color: white;
  margin-bottom: 20px;
  cursor: pointer;
  width: 100%;
  display: block;
  text-align: center;
  text-decoration: none;
  position: relative;
}

.button_class:hover {
  background: #2c922c;
}

.button_class i {
  font-size: 28px;
  position: absolute;
  right: 13px;
  top: 14px;
}

/* ************************* */

/* COLORS */
.bgBlue {
  background-color: #006da5;
  color: white;
}

.cBlue {
  color: #006da5;
}

.bgGreen {
  background-color: #ff0000;
  color: white;
}

.cGreen {
  color: #ff0000;
}

.container section {
  margin-bottom: 50px;
}

.largerText,
.largerText p {
  font-size: 22px;
}

.smallerText,
.smallerText p {
  font-size: 16px;
}

.messageBox {
  background-color: #d4e8f4;
  padding: 25px 40px;
}

.messageBox p {
  color: #026ca0;
  margin: 0;
  padding: 0;
  font-weight: 600;
}

.responseBox {
  font-size: 16px;
  border-radius: 2px;
  display: table;
  margin: 20px 0px;
  padding: 18px 24px;
  font-weight: 500;
  line-height: 2;
}

.successMessage {
  color: #557933;
  background: #d4e5c5;
}

.errorMessage {
  background-color: #ffd1d1;
  color: #924a4a;
}

.container.reversed {
  color: white;
  background-color: #006da5;
}

.container.reversed h1,
.container.reversed h2,
.container.reversed h3,
.container.reversed h4,
.container.reversed a {
  color: white;
}

/* FORMS */
.formGroup {
  margin-bottom: 40px;
  display: block;
}

/* CHECKMARK */
.cM_container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cM_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.cM_checkmark {
  position: absolute;
  font-size: 28px;
  top: -8px;
  left: -2px;
  height: 25px;
  width: 25px;
  color: #ccc;
}

.cM_container:hover input ~ .cM_checkmark {
  color: #999;
}

.cM_container input:checked ~ .cM_checkmark {
  color: #8db965;
}

/* Customize the label (the container) */
.rA_container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.rA_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.rA_checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 28px;
  width: 28px;
  background-color: #ccc;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.rA_container:hover input ~ .rA_checkmark {
  background-color: #999;
}

/* When the radio button is checked, add a blue background */
.rA_container input:checked ~ .rA_checkmark {
  background-color: #8db965;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.rA_checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.rA_container input:checked ~ .rA_checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.rA_container .rA_checkmark:after {
  top: 9px;
  left: 9px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
}

.success_box {
  background: #36a7361c;
  padding: 17px 20px;
  border: 1px solid #36a736;
  line-height: 2;
  color: #36a736;
}

.success_box h4 {
  padding: 0;
  padding-bottom: 5px;
  margin: 0;
  color: #36a736;
  font-size: 18px;
  font-weight: 600;
}

.error_box {
  background: #c800001f;
  padding: 17px 20px;
  border: 1px solid;
  line-height: 2;
  color: #c80000;
  margin-bottom: 50px;
  word-break: break-word;
}

.skip_class {
  border: none;
  background: #37a737;
  padding: 12px 24px;
  font-size: 18px;
  color: white;
  margin-bottom: 20px;
  cursor: pointer;
  width: 100%;
  display: block;
  text-align: center;
  text-decoration: none;
}

.error_class {
  color: #c80000 !important;
  background: #c800001f !important;
  box-shadow: 0px 0px 0px 1px inset;
}

.error_message {
  color: rgb(200, 0, 0);
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 2px;
}

.label_class {
}

.standard_form input[type="text"],
.standard_form input[type="password"],
.standard_form textarea {
  border: 0;
  outline: none;
  font-size: 18px;
  padding: 15px;
  text-align: left;
  border-radius: 0;
  color: #000;
  width: 100%;
  margin-top: 5px;
  background: white;
  box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1),
    0 3px 6px 0 rgba(0, 0, 0, 0.07);
}

.standard_form input[type="text"]::placeholder,
.standard_form input[type="password"]::placeholder,
.standard_form textarea::placeholder {
  color: #aaa;
}

.standard_form div {
  position: relative;
}

.standard_form i {
  position: absolute;
  right: 12px;
  top: 12px;
  color: white;
  font-size: 27px;
}

.submit_button,
.standard_form input[type="submit"] {
  border: none;
  background: #37a737;
  padding: 15px 24px;
  font-size: 18px;
  color: white;
  margin-bottom: 20px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  -webkit-appearance: none;
}

.submit_button:hover,
.standard_form input[type="submit"]:hover {
  background: #2c922c;
}

.focus_form {
}

/* HEADER */
.focus_form p,
.focus_form h1,
.focus_form h2 {
  position: relative;
}

.focus_form textarea,
.focus_form input {
  text-transform: inherit;
  color: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  border: none;
  outline: none;
  text-align: center;
  width: 100%;
}

.focus_form textarea::placeholder,
.focus_form input::placeholder {
  color: #cacaca;
  font-style: italic;
}

.focus_form textarea {
  resize: none;
}

.focus_form textarea:focus,
.focus_form input:focus {
  box-shadow: 0 0 0 1px #999 inset;
  resize: vertical;
}

.focus_form span {
  right: 0;
  font-size: 12px;
  cursor: pointer;
  display: block;
  font-weight: 400;
  top: -27px;
  position: absolute;
}

/*

.focus_form span:before {
  content: 'click text to edit';
  color: #377f8f;
  background: white;
  border-radius: 2px;
  padding: 3px 6px;  
}

.focus_form textarea:focus + span:before,
.focus_form input:focus + span:before {
  content: 'save';
  background: #377f8f;
  color: white;
  border-radius: 2px;
  padding: 3px 6px;
}

*/

.tag_list_small {
}

.tag {
  color: white;
  background: #aaa;
  padding: 2px 7px;
  border-radius: 2px;
  cursor: pointer;
  opacity: 0.8;
  margin: 2px;
}

.tag:hover {
  opacity: 1;
}

.tag_list_small .tag {
  font-size: 14px;
  display: inline-block;
}

.tag.active_tag {
  background: #306f7a;
}

/* SHADY LIST */
.shady_list_list {
}

.shady_list_item {
  margin-bottom: 1px;
  background: #fff;
  padding: 12px 10px;
  position: relative;
  border-top: 1px solid #f2f5f6;
  margin: 0px -24px;
}

.shady_list_star {
  position: absolute;
  top: 15px;
  left: 17px;
  color: #dadee2;
  font-size: 16px;
  cursor: pointer;
}

.shady_list_byLine {
  font-size: 12px;
  display: flex;
  justify-content: left;
  color: #999;
  font-weight: 300;
  font-style: italic;
  position: absolute;
  top: 11px;
  left: 38px;
  width: calc(100% - 57px);
}

.shady_list_name {
  font-weight: 300;
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 2px;
  padding-right: 105px;
  position: relative;
  padding-left: 35px;
}

.shady_list_name a {
  color: black;
  text-decoration: none;
}

.shady_list_chevron_button {
  position: absolute;
  right: 26px;
  top: 20px;
  cursor: pointer;
  color: #ff6969;
  font-size: 10px;
}

/*.shady_list_open_close {
    cursor: pointer;
    position: absolute;
    left: 0px;
    font-size: 23px;
    top: 0px;
    color: green;
}*/
