.wrapper {
  width: 100%;
  left: 0px;
  position: absolute;
  padding: 50px;
  text-align: center;
  /*background: #f1f5f9;*/
}

.container {
  position: relative;
  text-align: left;
  /*margin: -10px;*/
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
}

.header {
  background: white;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
  padding: 10px 23px;
  margin: 10px 5px;
}

.content {
  /*margin: 0px -10px;*/
  text-align: center;
  /*margin-left: -5px;*/
  /*margin-right: 5px;  */
}

/*.funnel_chart {
  width: 100%;
}*/

.full_width {
  width: 100%;
  /*padding: 5px 10px !important;*/
}

.half_width {
  width: 50%;
}

.chart_style {
  display: inline-block;
  text-align: left;
  padding: 5px;
}

.chart_style_inner {
  background: white;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
}

.bar_chart_header,
.funnel_chart_header {
  padding: 30px;
  position: relative;
}

.bar_chart_title,
.funnel_chart_title {
  font-weight: 600;
  color: #666;
  cursor: pointer;
}

.selector {
  /*background: white;*/
  padding: 10px;
  margin: 10px 0px;
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
}

.selector_title {
  font-weight: 600;
  font-size: 16px;
  color: #999;
}

.type_toggler {
  color: white;
  padding: 2px 11px;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.5;
  height: 35px;
}

.type_toggler:hover {
  opacity: 1;
}

.settings_buttons {
  position: absolute;
  top: 17px;
  right: 20px;
  display: flex;
  justify-content: space-between;
}

.settings_buttons div {
  margin-left: 5px;
}

.active {
  color: green;
}

.inactive {
  color: #999;
}

.type_compressor {
}

.type_compressor input {
  border: none;
  outline: none;
  font-size: 18px;
  text-align: center;
  width: 60px;
  background: #ddd;
  border-radius: 0px 4px 4px 0px;
  height: 35px;
  display: inline-block;
  vertical-align: top;
}

.type_compressor_icon {
  display: inline-block;
  /*background: #333;*/
  height: 35px;
  vertical-align: text-bottom;
  width: 33px;
  border-radius: 4px 0px 0px 4px;
  color: white;
  text-align: center;
  font-size: 19px;
  line-height: 1.8;
}

.type_compressor_icon i {
}

.selector_button {
  cursor: pointer;
}

.selector_button:hover > span {
  color: green;
}

.selector_button i {
  font-size: 23px;
  position: relative;
  top: 3px;
  padding-right: 7px;
}

.selector_dropdown {
  position: absolute;
  background: white;
  box-shadow: -1px 1px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  /*padding: 10px 20px;*/
  top: 60px;
  left: 25px;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 999;
}

.selector_dropdown .selector_button {
  line-height: 2;
  cursor: pointer;
  padding: 1px 18px;
}

.selector_dropdown .selector_button.active,
.selector_dropdown .selector_button.active:hover {
  color: white !important;
  background: #bbb !important;
}

.selector_dropdown .selector_button.active:hover > span {
  color: white !important;
}
