.container {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.svg_container {
}

.legend_container {
  margin-right: 40px;
  margin-left: 20px;
  margin-top: 40px;
  max-width: 300px;
}

.legend {
  padding-left: 17px;
  position: relative;
  text-align: left;
}

.legend_block {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 0;
  top: 6px;
}

.legend_name {
  display: inline-block;
  position: relative;
  padding-left: 5px;
  font-size: 13px;
  color: #666;
  white-space: nowrap;
}
