.tableWrapper {
  max-width: 100%;
  box-shadow: 0px 3px 12px rgba(41, 70, 103, 0.2);
  font-family: Proxima Nova;
  overflow-x: auto;
  overflow-y: hidden;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
.tableOuterWrapper {
  overflow-y: visible;
  position: relative;
}
.tableOuterWrapper ::-webkit-scrollbar {
  border-radius: 20px;
  background-color: transparent;
  height: 17px;
}
.tableOuterWrapper ::-webkit-scrollbar-thumb {
  background: #fff;
  /* border-radius: 30px; */
  /* border: 10px solid #F2F2F2; */
  cursor: pointer;
}
.tableOuterWrapper ::-webkit-scrollbar-track {
  padding: 8px 0;
  background-color: #f2f2f2;
}

.buttongreen {
  background-color: transparent;
  border: none;
}
.buttongreen i {
  color: #53cab2 !important;
  cursor: pointer;
  font-size: 14px !important;
}
.startupTable {
  width: 100%;
  min-width: 1300px;
  font-weight: 12px;
  border-radius: 4px;
}
.startupTable thead tr {
  background: #f9f9f9;
  min-height: 42px;
}

.startupTable tr {
  border: 1px solid #f0f0f0;
}
.startupTable thead tr td {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  color: #c0c2c5;
  position: relative;
  padding: 10px 8px;
  letter-spacing: 0.08em;
}
.startupTable thead tr td i {
  color: #969ba3;
  transform: matrix(0, 1, 1, 0, 0, 0);
  font-size: 8.5px;
  font-weight: 500;
  margin-left: 5px;
}
.startupTable tbody tr {
  min-height: 55px;
  background: #ffffff;
}
.startupTable td {
  padding: 0 10px;
}
.startupTable tbody td {
  font-size: 11.5px;
  position: relative;
}
.startupTable tbody td:not(:last-child):after {
  position: absolute;
  content: "";
  right: 0;
  height: 45%;
  width: 1px;
  background-color: #f0f0f0;
  top: 50%;
  transform: translateY(-50%);
}
.startupTable td:nth-child(1) {
  width: 84px;
}
.startupTable td:nth-child(2) {
  min-width: 185px;
  /* position: static !important; */
}
.startupTable tbody td:nth-child(2) {
  font-size: 13.8px;
  font-weight: 600;
  color: #6a6a6a;
  display: flex;
  align-items: center;
  min-height: 55px;
  position: relative;
}
.startupTable tbody td:nth-child(2) img {
  min-width: 30px;
  display: inline;
  margin-right: 4px;
}
.startupTable td:nth-child(3) {
  min-width: 174px;
}
.startupTable td:nth-child(4) {
  min-width: 160px;
}
.startupTable td:nth-child(5) {
  min-width: 260px;
}
.startupTable td:nth-child(6) {
  min-width: 120px;
}
.startupTable tbody td:nth-child(6) {
  color: #53cab2;
  font-size: 14px;
  font-weight: 600;
}
.startupTable td:nth-child(7) {
  min-width: 150px;
}
.startupTable td:nth-child(8) {
  min-width: 136px;
}
.startupTable tbody td:nth-child(8) {
  min-width: 136px;
  font-size: 14px;
}
.startupTable tbody td:nth-child(9) {
  font-size: 14px;
}
.startupTable td ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding-top: 3px;
}
.startupTable td ul li span {
  background-color: #6a6a6a;
  padding: 4px 9px;
  color: #fff;
  border-radius: 15px;
  font-size: 10px;
}
.startupTable td ul li:not(:first-child) {
  margin-left: 8px;
}
.startupTable td span i {
  font-size: 12px;
  color: #969ba3;
  margin-left: 5px;
  cursor: pointer;
}

.customCheck {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.customCheck input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 60%;
  left: 10px;
  height: 15px;
  width: 15px;
  transform: translateY(-0%);
  border-radius: 3px;
  border: 1px solid #dadada;
}
/* On mouse-over, add a grey background color */
.customCheck:hover input ~ .checkmark {
  border-color: rgb(190, 190, 190);
}

/* When the checkbox is checked, add a blue background */
.customCheck input:checked ~ .checkmark {
  background-color: #2196f3;
  border: none;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.customCheck input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.customCheck .checkmark:after {
  left: 35%;
  top: 10%;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.favStartup {
  margin-left: 38px;
  margin-top: -0.5px;
}
.favStartup i {
  color: #c4c4c4;
  font-size: 11px;
}
.startupTable .olderThan {
  background-color: #fcd99e;
  border-radius: 10px;
  color: #969ba3;
  padding: 2px 8px;
  font-size: 10px;
  font-family: Roboto;
  font-style: normal;
}
.startupTable .startupStatus {
  font-size: 14px;
  color: #6a6a6a;
}
.startupTable .startupStatus img {
  height: 11.5px;
  margin-right: 3px;
  margin-top: 2px;
}
.startupTable .startupStatus i {
  font-size: 12px;
  cursor: pointer;
}

.startupPreview {
  position: absolute !important;
  top: 95px;
  left: 150px;
  background-color: #fff;
  max-width: 350px !important;
  padding: 20px;
  z-index: 999999999999;
  box-shadow: 0px 3px 12px rgba(41, 70, 103, 0.2);
  border-radius: 4px;
}

@media screen and (max-width: 543px) {
  .startupPreview {
    position: fixed !important;
    top: 15% !important;
    width: 90% !important;
    max-width: 500px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.startupPreview h1 {
  font-size: 16px;
  border-bottom: 1px solid #f0f0f0;
  color: #6a6a6a;
  padding-bottom: 10px;
  font-weight: 700;
}
.startupPreview h3 {
  font-size: 13px;
  color: #6a6a6a;
  margin: 0;
  padding: 0;
  margin-bottom: 6px;
  margin-top: 8px;
}
.startupPreview p {
  font-size: 13px;
  line-height: 17px;
  color: #969ba3;
  font-weight: normal;
}

.user_profile_Img {
  cursor: pointer;
  padding-top: 4px;
  text-align: center;
  top: 16px;
  width: 27px;
  height: 27px;
  color: white;
  margin-right: 12px;
  border-radius: 50%;
  background: #b7b7b7;
}

.empty_list {
  text-align: center;
  padding: 20px;
  border-top: 1px solid var(--color-gray-light);
  color: var(--color-gray-medium);
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}

.loader:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0.7;
}

.loader i {
  color: var(--color-gray-medium);
}

.company_name {
  color: var(--color-secondary);
  cursor: pointer;
}
