.archive-list-container{
    .card{
        height:calc(100vh - 161px);
        .heading{
            font-family: 'Proxima Nova';
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
            padding:25px 25px 0px 25px;
            color: #969BA3;
        }
        .startups{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 17px;
            letter-spacing: 0.03em;
            color: #969BA3;
            margin-top:20px;
            margin-left: 25px;
        }
        .startup-name{
            font-family: 'Proxima Nova';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #6A6A6A;
            margin-top:25px;           
        }
        .unarchive{
            background: #53CAB2;
            border-radius: 12px;
            width:90px;
            font-family: 'Proxima Nova';
            font-style: normal;
            font-weight: bold;
            font-size: 10px;
            line-height: 12px;
            display: flex;
            align-items: center;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            min-height:18px;
            color: #FFFFFF;
            margin-top:25px;   
            margin-right:15px; 
            margin-left:15px; 
            cursor: pointer;
        }
        .delete-permanently{
            font-family: 'Proxima Nova';
            font-style: normal;
            font-weight: bold;
            font-size: 10px;
            line-height: 12px;
            display: flex;
            align-items: center;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            min-height:18px;
            background: #FF937C;
            border-radius: 12px;
            width:144px;
            color: #FFFFFF;
            margin-top:25px;   
            cursor: pointer; 
        }
        .archive-list-data{
            padding-left:25px;
        }
    }
}