.tags1-container {
  margin: 35px 0px 0px 0px;
  &__heading {
    font-family: "Proxima Nova";
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: #969ba3;
    margin-top: 25px;
  }
  &__sub-heading {
    font-family: Roboto;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: #969ba3;
    margin-top: 5px;
  }
  &__placeholder {
    border: 1px solid #b5b5b5;
    margin-top: 10px;
    border-radius: 20px;
    padding: 8px;
    display: flex;
    flex-flow: row wrap;
    z-index: 999;
    min-height: 40px;
    @media only screen and(max-width:500px) {
      width: 300px;
    }
    @media only screen and (min-width: 500px) and (max-width: 768px) {
      width: 450px;
    }
    @media only screen and (min-width: 768px) and (max-width: 1115px) {
      width: 300px;
    }
    @media only screen and (min-width: 1115px) {
      width: 450px;
    }
    i {
      background-color: #53cab2;
      border-radius: 50%;
      height: 18px;
      width: 18px;
      text-align: center;
      font-size: 10px;
      margin-top: 2px;
      /* position: absolute; */
      padding-top: 4px;
      margin-left: 7px;
      color: #ffffff;
      cursor: pointer;
    }
  }
  &__dropdown {
    position: relative;
    z-index: 999;
    width: 100%;
    margin-top: 10px;
    padding-bottom: 15px;
    .section-heading {
      margin-top: 15px;
      padding: 10px 10px 10px 27px;
      font-family: "Proxima Nova";
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      color: #6a6a6a;
    }
    i {
      margin-top: 15px;
      padding: 10px 0px 10px 0px;
      color: #ff937c;
    }
  }
  .tag {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 9px;
    line-height: 11px;
    letter-spacing: 0.03em;
    color: #dadada;
    background: #6a6a6a;
    border-radius: 12px;
    padding: 4px 10px 4px 6px;
    margin: 5px;
    cursor: pointer;
    .delete {
      margin-left: 15px;
      font-family: inherit;
      font-size: 13px;
      font-weight: bold;
      cursor: pointer;
    }
  }
  .type-tags-container {
    display: flex;
    flex-flow: row wrap;
    padding-left: 10px;
  }
  .suggested-tag {
    color: #dadada;
    background: #9d9d9d;
  }
}
