/*.red {
  color: #9c2a6c;
}
.bg_red {
  background-color: #9c2a6c;
}

.green {
  color: #7ebc59;
}
.bg_green {
  background-color: #7ebc59;
}

.blue {
  color: #006ca0;
}
.bg_blue {
  background-color: #006ca0;
}
*/

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background: #f2f5f6;
}

.container h1 {
  font-size: 48px;
  font-weight: 300;
  margin-bottom: 35px;
  margin-top: 0px;
  color: #2f6e7b;
}

.container h2 {
  /*text-align: center;*/
  margin-bottom: 40px;
  font-size: 36px;
  font-weight: 300;
  /*max-width: 600px;*/
  margin-left: auto;
  margin-right: auto;
  color: #d84c6f;
}

.container h3 {
  color: #006ca0;
  margin-bottom: 50px;
  font-size: 34px;
  font-weight: 600;
}

.container h4 {
  color: #666;
  font-weight: 600;
}

.container h1,
.container h2,
.container h3,
.container h4 {
  line-height: 1.5;
}

.container p {
  font-size: 20px;
  line-height: 2;
  margin-top: 30px;
  margin-bottom: 50px;
  color: #666;
}

.container p b {
  font-weight: 700;
}

.container p i {
  font-style: italic;
}

.container p a {
  font-weight: 700;
  text-decoration: none;
}

.container form label {
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
  color: #666;
  position: relative;
}

.container form label sup {
  color: #c80000;
  font-size: 15px;
  position: absolute;
}

/*.container .reversed form label {
  color: white;
}

.container form input[type="text"],
.container form input[type="password"],
.container form textarea {
  border: 0;
  outline: none;
  font-size: 18px;
  padding: 15px;
  text-align: left;
  border-radius: 0;
  color: #000;
  width: 100%;
  margin-top: 5px;
  background: white;
  box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1),
    0 3px 6px 0 rgba(0, 0, 0, 0.07);
}

.container form input[type="text"]::placeholder,
.container form input[type="password"]::placeholder,
.container form textarea::placeholder {
  color: #aaa;
}

.container form div {
  position: relative;
}

.container form i {
  position: absolute;
  right: 12px;
  top: 12px;
  color: white;
  font-size: 27px;
}

.container form input[type="submit"] {
  border: none;
  background: #37a737;
  padding: 15px 24px;
  font-size: 18px;
  color: white;
  margin-bottom: 20px;
  cursor: pointer;
  width: 100%;
  -webkit-appearance: none;
}

.container form input[type="submit"]:hover {
  background: #2c922c;
}*/

.content {
  margin-bottom: auto;
  position: relative;
}

/* FOR BLUE BACKGROUND */
/*
.container .inverse h1,
.container .inverse h2,
.container .inverse h3,
.container .inverse h3,
.container .inverse p,
.container .inverse a,
.container .inverse a:hover,
.container .inverse a:active {
  color: white;
}

.container .inverse a,
.container .inverse a:hover,
.container .inverse a:active {
  text-decoration: none;
}
*/

/*.content_tag {
  max-width: 1000px;
  display: block;
  margin: auto;
}
*/
.container main {
  margin-top: 50px;
}
