/*.red {
  color: #9c2a6c;
}
.bg_red {
  background-color: #9c2a6c;
}

.green {
  color: #7ebc59;
}
.bg_green {
  background-color: #7ebc59;
}

.blue {
  color: #006ca0;
}
.bg_blue {
  background-color: #006ca0;
}
*/

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background: #f2f5f6;
}

.container h1 {
  font-size: 48px;
  font-weight: 300;
  margin-bottom: 35px;
  margin-top: 0px;
  color: #2f6e7b;
}

.container h2 {
  /*text-align: center;*/
  margin-bottom: 40px;
  font-size: 36px;
  font-weight: 300;
  /*max-width: 600px;*/
  margin-left: auto;
  margin-right: auto;
  color: #d84c6f;
}

.container h3 {
  color: #006ca0;
  margin-bottom: 50px;
  font-size: 34px;
  font-weight: 600;
}

.container h4 {
  color: #666;
  font-weight: 600;
}

.container h1,
.container h2,
.container h3,
.container h4 {
  line-height: 1.5;
}

.container p {
  font-size: 20px;
  line-height: 2;
  margin-top: 30px;
  margin-bottom: 50px;
  color: #666;
}

.container p b {
  font-weight: 700;
}

.container p i {
  font-style: italic;
}

.container p a {
  font-weight: 700;
  text-decoration: none;
}

.container form label {
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
  color: #666;
  position: relative;
}

.container form label sup {
  color: #c80000;
  font-size: 15px;
  position: absolute;
}

.content {
  margin-bottom: auto;
  position: relative;
}

.container main {
  margin-top: 50px;
}
