@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
/*@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");*/

* {
  box-sizing: border-box;
}

::after,
::before {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.5;
}

hr {
  border: none;
  border-top: 1px solid var(--color-gray-pale);
  margin: 15px 0px;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

.delete_bucket {
  position: relative;
  left: 6px;
  color: var(--color-primary);
  font-size: 18px;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
html,
textarea {
  font-family: "Roboto", sans-serif !important;
  color: var(--color-gray-dark);
  background-color: var(--color-gray-pale);
}

:root {
  --color-primary: #ff6969;
  --color-secondary: #367f8f;

  /*--color-gray-dark: #202124;*/
  --color-gray-dark: #515c6f;
  --color-gray-medium: #a0a8b1;
  --color-gray-light: #dadee2;
  --color-gray-pale: #f2f5f6;

  --color-message-bg: #f7f6f3;
  --color-green: #478339;
  --color-red: #e5646a;

  --color-yellow: #ffd700;
  --color-orange: #ffaf52;
  --color-turquoise: #4ad1c7;

  --font-weight-light: 200;
  --font-weight-regular: 300;
  --font-weight-bold: 500;
}

h1 {
  font-weight: var(--font-weight-regular);
  margin-top: 0;
  font-size: 32px;
}

.logged_in_page_content {
  padding-top: 50px;
  left: 200px;
  padding-left: 15px;
  position: relative;
  margin-right: 205px;
  background: var(--color-gray-pale);
  min-height: calc(100vh + 50px);
}

@media screen and (min-width: 900px) {
  .mobile_only {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .desktop_only {
    display: none;
  }

  .logged_in_page_content {
    left: 0px;
    padding-left: 10px;
    margin-right: 10px;
  }
}

.notata_form {
}

.notata_form label {
  font-size: 12px;
  color: var(--color-gray-medium);
  position: relative;
  left: 10px;
  top: 5px;
}

.notata_form .check_container {
}

.notata_form .check_container label {
  font-size: 16px;
  color: var(--color-gray-dark);
  top: -2px;
  line-height: 2;
  cursor: pointer;
}

.notata_form .check_container label input {
  left: -8px;
  position: relative;
}

input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.notata_form input[type="text"],
.notata_form input[type="password"],
.notata_form textarea {
  border: 0;
  outline: none;
  padding: 12px 20px;
  text-align: left;
  border-radius: 20px;
  width: 100%;
  margin-top: 5px;
  color: var(--color-gray-dark);
  background: var(--color-gray-pale);
  margin-bottom: 10px;
}

.notata_form input[type="text"]::placeholder,
.notata_form input[type="password"]::placeholder,
.notata_form textarea::placeholder {
  color: var(--color-gray-medium);
}

.focus_form {
}

.focus_form input[type="text"],
.focus_form input[type="password"],
.focus_form textarea {
  border: 0;
  outline: none;
  /*font-size: 15px;*/
  padding: 12px 20px;
  text-align: left;
  /*border-radius: 20px;*/
  width: 100%;
  margin-top: 5px;
  color: var(--color-gray-dark);
  background: none;
  border: 2px dashed var(--color-gray-light);
  resize: none;
}

.focus_form input[type="text"]::placeholder,
.focus_form input[type="password"]::placeholder,
.focus_form textarea::placeholder {
  color: var(--color-gray-medium);
}

.form_h1 {
  font-size: 32px;
}

.form_p1 {
}

.form_h2 {
  /*  font-size: 28px;
  font-weight: var(--font-weight-light)*/
  font-size: 28px;
  font-weight: var(--font-weight-regular);
  color: var(--color-primary);
}

.form_p2 {
  font-size: 15px;
  color: var(--color-gray-medium);
}

.comment_form form {
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
}

.comment_form input[type="text"],
.comment_form textarea {
  border: 0;
  outline: none;
  font-size: 14px;

  padding: 8px;
  text-align: left;
  border-radius: 0;
  color: #000;
  width: 100%;
  /*margin-top: 5px;*/
  background: white;
  min-height: 50px;

  position: relative;
  bottom: -5px;
}

.comment_form textarea {
  resize: vertical;
  border-top: 1px solid #eaeaea;
}

.comment_form input[type="text"]::placeholder,
.comment_form textarea::placeholder {
  color: #aaa;
}

.comment_sumbit {
  position: absolute;
  right: 0;
  top: 12px;
  z-index: 100;
}

.comment_sumbit i {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--color-primary);
  z-index: 9999;
  font-size: 31px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  pointer-events: none;
}

.comment_sumbit input {
  right: 5px;
  top: 10px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  height: 34px;
  outline: none;
  width: 30px;
  opacity: 1;
  background: none;
}

.public_shared_page_content {
  padding: 15px;
}

/*
.standard_form input[type="text"],
.standard_form input[type="password"],
.standard_form textarea {
  border: 0;
  outline: none;
  font-size: 18px;
  padding: 15px;
  text-align: left;
  border-radius: 0;
  color: #000;
  width: 100%;
  margin-top: 5px;
  background: white;
  box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1),
    0 3px 6px 0 rgba(0, 0, 0, 0.07);
}

.standard_form input[type="text"]::placeholder,
.standard_form input[type="password"]::placeholder,
.standard_form textarea::placeholder {
  color: #aaa;
}

.standard_form div {
  position: relative;
}

.standard_form i {
  position: absolute;
  right: 12px;
  top: 12px;
  color: white;
  font-size: 27px;
}

.submit_button,
.standard_form input[type="submit"] {
  border: none;
  background: #37a737;
  padding: 15px 24px;
  font-size: 18px;
  color: white;
  margin-bottom: 20px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  -webkit-appearance: none;
}

.submit_button:hover,
.standard_form input[type="submit"]:hover {
  background: #2c922c;
}*/

/**

.pending,
.declined,
.accepted,
.approved,
.open {
  color: white;
  padding: 6px 9px;
  text-align: center;
  display: inline-block;
  min-width: 55px;
  width: 100%;
}

.pending {
  background: #ffc944;
}

.declined {
  background: #fb1d1d;
}

.accepted,
.approved {
  background: #009688;
}

.open {
  background: #2196f3;
}

.hoverButton {
  opacity: 0.5;
  cursor: pointer;
}

.hoverButton:hover {
  opacity: 1;
}

.super-title h3 {
  font-size: 32px;
  opacity: 0.7;
}

.hidden {
  display: none !important;
}


.inline {
  display: inline-block !important;
  vertical-align: top;
}

.left {
  float: left;
}

.right {
  float: right;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.page-header-section {
  margin-top: 25px;
  margin-bottom: 75px;
  position: relative;
}

.page-header-section h1 {
  font-size: 36px;
  color: rgba(0, 0, 0, 0.75);
  margin-bottom: 20px;
  font-weight: 400;
}

.page-header-section h2 {
  font-size: 24px;
  color: #365a74;
  font-weight: 300;
}

.b_shadow {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px, rgba(0, 0, 0, 0.12) 0px 1px 2px;
}

.page-title {
  font-size: 21px;
  font-weight: 400;
  color: black;
  padding-bottom: 15px;
  margin-bottom: 25px;
  border-bottom: 3px solid #365976;
}

.hide-scroller::-webkit-scrollbar {
  display: none;
}

@media (max-width: 800px) {
  .no-mobile {
    display: none;
  }
}

.sneaky-item::after {
  position: absolute;
  left: 6px;
  width: 1px;
  background: #eceeef;
  height: 100%;
  top: -48px;
  content: "";
}

.sneaky-item::before {
  position: absolute;
  left: 6px;
  width: 1px;
  background: #eceeef;
  height: 100%;
  bottom: -20px;
  content: "";
}

.sneaky-child {
  position: relative;
}

.sneaky-child::before {
  position: absolute;
  content: "";
  height: 1px;
  background: #eceeef;
  top: 45%;
  left: -19px;
  width: 100px;
}

.sneaky-from {
  position: relative;
  top: -17px;
  left: -4px;
  z-index: 100;
  color: #8b8c8c;
  font-weight: 300;
}

.sneaky-from::after {
  content: "";
  position: absolute;
  border-radius: 10px;
  background: #c2c4c5;
  width: 11px;
  height: 11px;
  left: -20px;
  top: 6px;
}

.sneaky-from-can-delete::after {
  content: "";
  background: white;
}

.sneaky-edit-child,
.sneaky-add-children {
  color: #0000c8;
  position: relative;
  font-style: italic;
  margin-left: 8px;
  cursor: pointer;
  font-weight: 300;
}

.sneaky-create-new-variation {
  color: #0000c8;
  position: relative;
  font-style: italic;
  cursor: pointer;
  font-weight: 300;
  margin-left: 0;
  margin-bottom: 15px;
  margin-top: 23px;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 10px;
  border-top: 1px solid #d9d9d9;
  padding-top: 10px;
  text-align: center;
}

.sneaky-add-line {
  color: rgb(43, 160, 43);
  font-size: 38px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  left: 5px;
  top: -20px;
}

.sneaky-detatch {
  cursor: pointer;
  width: 17px;
  height: 17px;
  top: 3px;
  color: white;
  text-align: center;
  font-size: 13px;
  line-height: 1.4;
  font-weight: 500;
  position: absolute;
  left: -22px;
  z-index: 100;
  background: #c80000;
  border-radius: 30px;
}

@media screen and (max-width: 700px) {
  .kill-on-700 {
    display: none;
  }
}

.disabled-input {
  color: #999 !important;
  cursor: not-allowed;
}
*/
