@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
/*@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");*/

::after,
::before {
  box-sizing: border-box;
}

html {
}

html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  /*  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;*/
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.5;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
html,
textarea {
  font-family: "Roboto", sans-serif !important;
}

/**

.pending,
.declined,
.accepted,
.approved,
.open {
  color: white;
  padding: 6px 9px;
  text-align: center;
  display: inline-block;
  min-width: 55px;
  width: 100%;
}

.pending {
  background: #ffc944;
}

.declined {
  background: #fb1d1d;
}

.accepted,
.approved {
  background: #009688;
}

.open {
  background: #2196f3;
}

.hoverButton {
  opacity: 0.5;
  cursor: pointer;
}

.hoverButton:hover {
  opacity: 1;
}

.super-title h3 {
  font-size: 32px;
  opacity: 0.7;
}

.hidden {
  display: none !important;
}


.inline {
  display: inline-block !important;
  vertical-align: top;
}

.left {
  float: left;
}

.right {
  float: right;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.page-header-section {
  margin-top: 25px;
  margin-bottom: 75px;
  position: relative;
}

.page-header-section h1 {
  font-size: 36px;
  color: rgba(0, 0, 0, 0.75);
  margin-bottom: 20px;
  font-weight: 400;
}

.page-header-section h2 {
  font-size: 24px;
  color: #365a74;
  font-weight: 300;
}

.b_shadow {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px, rgba(0, 0, 0, 0.12) 0px 1px 2px;
}

.page-title {
  font-size: 21px;
  font-weight: 400;
  color: black;
  padding-bottom: 15px;
  margin-bottom: 25px;
  border-bottom: 3px solid #365976;
}

.hide-scroller::-webkit-scrollbar {
  display: none;
}

@media (max-width: 800px) {
  .no-mobile {
    display: none;
  }
}

.sneaky-item::after {
  position: absolute;
  left: 6px;
  width: 1px;
  background: #eceeef;
  height: 100%;
  top: -48px;
  content: "";
}

.sneaky-item::before {
  position: absolute;
  left: 6px;
  width: 1px;
  background: #eceeef;
  height: 100%;
  bottom: -20px;
  content: "";
}

.sneaky-child {
  position: relative;
}

.sneaky-child::before {
  position: absolute;
  content: "";
  height: 1px;
  background: #eceeef;
  top: 45%;
  left: -19px;
  width: 100px;
}

.sneaky-from {
  position: relative;
  top: -17px;
  left: -4px;
  z-index: 100;
  color: #8b8c8c;
  font-weight: 300;
}

.sneaky-from::after {
  content: "";
  position: absolute;
  border-radius: 10px;
  background: #c2c4c5;
  width: 11px;
  height: 11px;
  left: -20px;
  top: 6px;
}

.sneaky-from-can-delete::after {
  content: "";
  background: white;
}

.sneaky-edit-child,
.sneaky-add-children {
  color: #0000c8;
  position: relative;
  font-style: italic;
  margin-left: 8px;
  cursor: pointer;
  font-weight: 300;
}

.sneaky-create-new-variation {
  color: #0000c8;
  position: relative;
  font-style: italic;
  cursor: pointer;
  font-weight: 300;
  margin-left: 0;
  margin-bottom: 15px;
  margin-top: 23px;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 10px;
  border-top: 1px solid #d9d9d9;
  padding-top: 10px;
  text-align: center;
}

.sneaky-add-line {
  color: rgb(43, 160, 43);
  font-size: 38px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  left: 5px;
  top: -20px;
}

.sneaky-detatch {
  cursor: pointer;
  width: 17px;
  height: 17px;
  top: 3px;
  color: white;
  text-align: center;
  font-size: 13px;
  line-height: 1.4;
  font-weight: 500;
  position: absolute;
  left: -22px;
  z-index: 100;
  background: #c80000;
  border-radius: 30px;
}

@media screen and (max-width: 700px) {
  .kill-on-700 {
    display: none;
  }
}

.disabled-input {
  color: #999 !important;
  cursor: not-allowed;
}
*/
