.add-startup-modal {
  max-width: 800px;

  .startup-container {
    padding: 20px 25px 35px 25px;

    .startup-record {
      margin-top: 15px;
      .icon {
        color: #ff937c;

        margin-top: 2px;
        position: relative;
        left: -4px;
        top: 1px;
        cursor: pointer;
      }
    }
    &__name-container {
      display: flex;
      .name {
        font-family: "Proxima Nova";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        text-decoration-line: underline;
        color: var(--ui-color-gray-dark1);
        margin-left: 5px;
        //text-align: center;
      }
      .name-shared-by {
        font-family: "Proxima Nova";
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 17px;
        //text-decoration-line: underline;
        color: var(--ui-color-gray-dark1);
        margin-left: 5px;
      }

      .icon {
        color: #ff937c;
        margin-top: 2px;
      }
    }

    .add-startups {
      @media only screen and(max-width:768px) {
        height: 90px;
      }
      background-color: #c1c1c130;
      margin-left: -30px;
      margin-right: -30px;
      margin-top: 10px;
      padding: 10px;
      .add-text {
        font-family: "Proxima Nova";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.03em;
        color: var(--ui-color-gray-dark1);
        padding-top: 10px;
        padding-left: 25px;
      }
      .drop-down {
        width: 161px !important;
        margin-left: 25px;
        @media only screen and(max-width:768px) {
          margin-left: 0px;
          margin-top: 5px;
        }
      }
    }
    .search {
      .material-icons {
        position: relative;
        left: 19px;
        color: #b7b7b7;
        top: 7px;
        @media only screen and(max-width:387px) {
          top: 69px;
          left: 0px;
        }
      }
      .search-box {
        margin-top: 35px;
        height: 30px;
        border: 1px solid #b5b5b5;
        box-sizing: border-box;
        border-radius: 20px;
        width: 100%;
        max-width: 274px;
        padding-left: 30px;
        margin-left: -10px;
        margin-bottom: 5px;
      }
    }
    .startup-list {
      margin-left: 15px;
      @media only screen and(max-width:378px) {
        margin-left: 0px;
      }
      margin-bottom: 30px;
      .startup {
        margin-top: 15px;
        .name,
        .email {
          font-family: "Proxima Nova";
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 17px;
          text-decoration-line: underline;
          color: var(--ui-color-gray-dark1);
          .fa-times {
            background-color: #ff937c;
            border-radius: 50%;
            height: 18px;
            width: 18px;
            text-align: center;
            font-size: 10px;
            padding-top: 4px;
            color: #ffffff;
            margin-right: 6px;
          }
        }
        .email {
          text-decoration: none;
          font-size: 12px;
          line-height: 15px;
        }
        .button {
          height: 18px;
          width: 62px;
          background: #53cab2;
          border-radius: 12px;
          font-family: "Proxima Nova";
          font-style: normal;
          font-weight: bold;
          font-size: 10px;
          line-height: 12px;
          display: flex;
          align-items: center;
          text-align: center;
          letter-spacing: 0.03em;
          text-transform: uppercase;
          color: #ffffff;
          cursor: pointer;
        }
        .invite-button {
          width: 70px;
        }
      }
    }
  }
}
