.startup-container {
    .MuiButtonBase-root{
        font-family: 'Proxima Nova';
        font-style: normal;
        font-size: 10px;
        line-height: 16px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #969BA3;
    }
    .Mui-selected{
        font-weight: bolder;
        font-family: 'proxima_nova_altbold';
    }
    .MuiTabs-indicator{
        border-bottom: 4px solid #969BA3;
        border-radius: 2px;
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }   
}
.card{
    background: #FFFFFF;
    box-shadow: 0px 3px 12px rgba(41, 70, 103, 0.2);
    border-radius: 8px;
    width: 100%;
    display: inline-block;
    padding-bottom: 25px;
    margin-top:10px;
    @media only screen and (max-width: 768px) {
        margin-top: 20px;
    }
    .card-heading{
        font-family: 'Proxima Nova';
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.02em;
        padding: 25px 25px 0px 25px;
        color: #6A6A6A;
    }
    .card-notification-bar{
        background: #53CAB2;
        border-radius: 8px 8px 0px 0px;        
        .text{
            font-family: 'Proxima Nova';
            font-style: normal;
            font-size: 18px;
            line-height: 22px;
            color: #FFFFFF;
            padding: 11px 25px 11px 20px;
            .btn{
                font-weight: bold;
                font-size: 10px;
                line-height: 12px;
                letter-spacing: 0.03em;
                text-transform: uppercase;
                padding: 3px 15px 3px 15px;
                border:1px solid #FFFFFF;
                border-radius: 12px;
                margin-left:25px;
                @media only screen and(max-width:490px) {
                    margin-left:5px;
                }
            }
        }
    }
}
.tab-panel-container{
    margin-top: 30px;
    @media only screen and (max-width: 768px) {
        margin-top: 0px;
    }
}
.separator {
    padding-top: 25px;
    border-bottom: 1px solid #F0F0F0;
    ;
    width: 90%;
    margin-left: 5%;
}
.back-icon{
    color: #71D0BD;
    cursor: pointer;
    position: absolute;
}
.page-heading{
    font-family: 'Proxima Nova';
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #969BA3;
    margin-left: 25px;
}
.padding-left-0{
    padding-left: 0px;
}
.asterik{
    color:#FF937C;
    margin-left: 2px;
}
.MuiTabs-indicator{
    background-color: #969BA3!important; 
} 
.info-window{
    position: absolute;
    background: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 3px 12px rgba(41, 70, 103, 0.2);
    padding:40px;
    z-index: 999;
}
.nopadding-left {
    @media only screen and(min-width:991px) {
        padding-left: 0px;  
    }
      
}
.nopadding-right{
    @media only screen and(min-width:991px) {
        padding-right: 0px;  
    }
}
