.container {
  border-radius: 3px;
  color: var(--color-gray-dark);
  background: var(--color-gray-pale);
  border: 1px solid var(--color-gray-light);
  padding: 3px 12px;
  display: inline-block;
  font-size: 12px;
  margin: 2px;
}

.content {
  /*white-space: nowrap;*/
}

.active_tag {
  background: var(--color-primary);
  color: white;
}

.button_tag {
  cursor: pointer;
}
