.groups-contianer {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 1100px;
  margin: auto;

  &__separator {
    border-bottom: 1px solid #f0f0f0;
    width: 90%;
    margin-left: 5%;
    padding-top: 0px;
  }

  .card {

    padding-top: 10px;
    padding: 30px;


    @media only screen and(min-width:768px) {
      min-width: 680px;
    }
    @media only screen and(min-width:500px) and (max-width: 768px) {
      min-width: 450px;
    }
    @media only screen and(max-width:500px) {
      min-width: 330px;
    }
    .card-heading {
      font-size: 28px;
      //padding-top: 40px !important;
    }
    .MuiTabs-root {
      position: relative;
      @media only screen and(min-width:768px) {
        top: -40px;
        margin-left: auto;
        width: 330px;
      }
      @media only screen and(max-width:768px) {
        top: 20px;
        margin-left: calc(calc(100% - 223px) / 2);
        width: 223px;
      }
    }
    .MuiButtonBase-root {
      font-family: "Proxima Nova";
      font-style: normal;
      font-size: 10px;
      line-height: 16px;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      color: #969ba3;
    }
    .Mui-selected {
      font-weight: bolder;
      font-family: "proxima_nova_altbold";
    }
    .MuiTabs-indicator {
      border-bottom: 4px solid #969ba3;
      border-radius: 2px;
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
  }
  .separator {
    padding-top: 20px;
    @media only screen and(max-width:768px) {
      padding-top: 10px;
    }
  }
  .sortby-dropdown {
    position: absolute;
    background: #ffffff;
    box-shadow: 0px 3px 12px rgb(0 0 0 / 20%);
    border-radius: 5px;
    padding: 4px 17px;
    z-index: 999;
    margin-top: 7px;
    text-align: initial;
    &__item {
      font-family: "Proxima Nova";
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 12px;
      padding-top: 8px;
      padding-bottom: 8px;
      color: #6a6a6a;
      cursor: pointer;
    }
  }
  .sort-by {
    @media only screen and(max-width:768px) {
      text-align: right;
      margin-top: 60px !important;
    }
    margin-top: 30px;
    margin-left: 25px;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #53cab2;
    .sort-by-dropdown-icon {
      margin-left: 5px;
      cursor: pointer;
    }
    .fa-arrow-up {
      margin-left: 15px;
      margin-right: 2px;
      color: #969ba3;
      cursor: pointer;
    }
    .fa-arrow-down {
      color: #969ba3;
      cursor: pointer;
    }
  }
  .create-group-container {
    @media only screen and(min-width:768px) {
      text-align: right;
    }

    .create-new-group {
      background: #53cab2;
      height: 30px;
      margin-bottom: 20px;
      margin-right: 50px;
      @media only screen and(max-width:768px) {
        padding: 5px !important;
        margin-top: 45px;
      }
      .MuiButton-label {
        font-size: 12px;
        line-height: 15px;
        @media only screen and(max-width:768px) {
          font-size: 10px;
          line-height: 12px;
          .material-icons {
            display: none;
          }
        }
      }
      &:hover {
        .MuiButton-label {
          color: #fff !important;
        }
        border: none;
        background-color: #49b6a0;
      }
    }
  }
  .data {
    //padding:15px 10px 0px 70px;
    padding: 15px 50px 15px 35px;
    position: relative;
    
    &__members,
    &__startups {
      font-family: "Proxima Nova";
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      //line-height: 18px;
      color: #969ba3;
    }

    @media only screen and(max-width:900px) {
      &__members,
      &__startups {
        display: none;
      }
    }


    &__startups {
      @media only screen and(max-width: 768px) {
        margin-top: -15px;
      }
    }
    &__browse {
      color: #c4c4c4;
      cursor: pointer;
      position: absolute;
      right: 20px;
      top: 15px;
      &:hover {
        color: #000;
      }
      .selected {
        color: #000;
      }
      &__drop-dwon {
        position: absolute;
        background: #ffffff;
        box-shadow: 0px 3px 12px rgb(0 0 0 / 20%);
        border-radius: 5px;
        padding: 17px 25px;
        z-index: 999;
        margin-top: -10px;
        text-align: initial;
        right: 85px;
        min-width: 149px;
        @media only screen and(max-width:768px) {
          right: 10px;
        }
        &__item {
          font-family: "Proxima Nova";
          font-style: normal;
          font-weight: normal;
          font-size: 10px;
          line-height: 12px;
          padding-top: 8px;
          padding-bottom: 8px;
          color: #6a6a6a;
          cursor: pointer;
          .settings,
          .leave {
            display: inline;
            font-size: 12px;
            margin-right: 10px;
          }
        }
        .leave {
          color: #ff4853;
        }
      }
    }
    &__name {
      font-family: "Proxima Nova";
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      line-height: 24px;
      text-decoration-line: underline;
      color: #6a6a6a;
      cursor: pointer;
      i {
        position: absolute;
        color: #c4c4c4;
        font-size: 18px;
        left: -14px;
        top: 2px;
      }
    }
  }
  .data:nth-child(odd) {
    background: rgba(223, 233, 245, 0.2);
  }
}
.delete-group-modal-container {
  padding: 60px 25px;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #6a6a6a;
  .remember {
    font-weight: bold;
    margin-top: 20px;
  }
  .delete-traces {
    margin-top: 25px;
  }
  .leave-modal-options {
    margin-top: 15px;
    margin-left: 20px;
  }
}
