.notifications-container {
  display: flex;
  justify-content: center;
  &__card {
    @media only screen and(min-width:768px) {
      width: 614px;
    }
    padding-bottom: 40px !important;
  }
  &__heading {
    padding-left: 50px !important;
    @media only screen and(max-width:768px) {
      padding-left: 15px !important;
    }
    padding-top: 41px !important;
    i {
      color: #53cab2;
      margin-right: 13px;
      cursor: pointer;
    }
  }
  &__header {
    display: flex;
    padding-right: 10px;
  }
  &__show {
    font-family: "Proxima Nova";
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #60ceb8;
    padding-top: 41px !important;
    margin-left: auto;
    cursor: pointer;
    i {
      margin-left: 10px;
    }
    &__dropdown {
      position: absolute;
      background: #ffffff;
      box-shadow: 0px 3px 12px rgb(0 0 0 / 20%);
      border-radius: 5px;
      padding: 4px 17px;
      z-index: 999;
      text-align: left;
      text-align: initial;
      margin-left: -100px;
      margin-top: 10px;
      .drop-down-item {
        display: flex;
        align-items: center;
        font-family: "Proxima Nova";
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 12px;
        padding-top: 8px;
        padding-bottom: 8px;
        color: #6a6a6a;
        cursor: pointer;
        img {
          margin-right: 10px;
        }
      }
    }
  }
  .notifications {
    padding-left: 50px;
    margin-top: 45px;
    @media only screen and(max-width:768px) {
      padding-left: 15px !important;
      margin-top: 34px;
    }
    &__notification {
      display: flex;
      @media only screen and(max-width:650px) {
        flex-wrap: wrap;
      }
      align-items: end;
      padding-bottom: 20px;
      padding-top: 20px;
      border-bottom: 1px solid #f1f1f1;
      img {
        height: 24px;
        width: 24px;
      }
      &__comment-text {
        font-family: "Roboto";
        font-style: italic;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.03em;
        color: #969ba3;
        margin-left: 15px;
      }
      &__tags-text {
        font-family: "Roboto";
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.03em;
        color: #969ba3;
        margin-left: 15px;
      }
      &__text {
        @media only screen and(max-width:650px) {
          width: 215px;
        }
        margin-left: 15px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.03em;
        color: #6a6a6a;
        .highlight {
          color: #53cab2;
          font-weight: bold;
        }
      }
      &__decline-btn {
        @media only screen and(max-width:650px) {
          margin-left: 60px;
        }

        height: 11px;
        border: 1px solid #969ba3;
        @media only screen and(min-width:768px) {
          margin-left: auto;
        }
        max-width: 81px;
        margin-left: 8px;
        .MuiButton-label {
          font-family: "Proxima Nova";
          font-style: normal;
          font-weight: bold;
          font-size: 10px;
          line-height: 12px;
          display: flex;
          align-items: center;
          text-align: center;
          letter-spacing: 0.03em;
          text-transform: uppercase;
          color: #969ba3;
        }
      }
      &__join-btn {
        height: 11px;
        background-color: #53cab2;
        margin-left: 8px;
        max-width: 90px;
        .MuiButton-label {
          font-family: "Proxima Nova";
          font-style: normal;
          font-weight: bold;
          font-size: 10px;
          line-height: 12px;
          letter-spacing: 0.03em;
          text-transform: uppercase;
          color: #ffffff;
          .material-icons {
            font-size: 15px;
          }
        }
      }
      .img-src {
        width: 48px;
      }
    }
  }
}
